<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>
<style type="text/css">
body#global_page_page-index-view .layout_middle .layout_page_profile_name{left: 3%; margin-left: auto;margin-right: auto;position: absolute;right: 0;top: 55%;width: 33%;}
h1{font-size:55px !important;}
</style>
<div id='profile_name'>
	<p><h2><?php echo $this->subject()->getTitle(); ?></h2></p>
	<?php if($this->is_owner){?>
	<p style="margin-top: 6px ! important; float: left; color: #fff;">
    Crezilla Code : <?php echo ($this->clientcode)? $this->clientcode:'';?> 
  </p>
  <?php }?>
</div>