<div class=" tab_977 generic_layout_container layout_user_profile_info_upper">
    <div class="profile_fields">
	<ul>
		<li>    
			<span>
			  Current
			</span>
			<span>
			  <?php //echo '<pre>';print_r($this->fieldStructure);echo '</pre>';
			  echo $this->fieldStructure['Location']; ?>
			</span>
		</li>  
		
		<?php foreach($this->fieldStructure['education'] as $k=>$v){ ?>
		<li>
			<span>
			  <?php echo $this->fieldStructure['education_cat'][$k]; ?>
			</span>
			<span>
			   <?php echo $v; ?>
			</span>
		</li>
		<?php } ?>
		
		<li>
			<span>
				Contact
			</span>
			<span>
				<?php  echo $this->fieldStructure['Phone Number']; ?>
			</span>
		</li> 
        
          
	</ul>
    <?php 
    $viewer 	= Engine_Api::_()->user()->getViewer()->getIdentity();
     if($this->is_admin){?>
    <span style="margin-left: 137px;"><a href="<?php echo $this->baseUrl().'/members/edit/profile/'.$this->subject->getIdentity();?>">Edit profile</a></span>
    <?php }if($this->is_owner){?>
    <span><a href="<?php echo $this->baseUrl().'/members/edit/profile/'.Engine_Api::_()->user()->getViewer()->getIdentity();?>">Edit my profile</a></span>
    <?php } ?>
    
     </div>        
</div>