
@media screen  (min-width:0px) and (max-width:360px)
{
.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu{right:0px !important; top:0px !important; float:left; position:relative;}
.layout_core_menu_mini { height: 35px; margin: 0 auto;  position: relative;  width: 72%; z-index: 99;}
.logout .layout_main .layout_core_menu_mini{position:absolute !important; height: auto; top:60px;}
.tog_btn {border-radius: 4px; float:right; height:23px; padding:2%; margin:1%; position:absolute; right:4px; top:-62px; z-index: 999999 !important; }

.discovers .col-sm-2 {width: 97px;}
.logout .layout_page_header{margin-left:0%;}
.logout .layout_core_menu_logo{width:auto !important; margin-top: 0; height: 60px !important;}
.discovers .col-sm-2 {width: 110px; float:left; margin-bottom:15px;}
.col-md-12 .discovers .spacer-top-20 { padding-left:0%;}
.spacer-top-bottom-30 img{ max-width:100%;}			
	
	}
	
	
	
@media screen  (min-width:361px) and (max-width:480px)
{
.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu{right:0px !important; top:0px !important; float:left; position:relative;}
.layout_core_menu_mini { height: 35px; margin: 0 auto;  position: relative;  width: 72%; z-index: 99;}
.logout .layout_main .layout_core_menu_mini{position:absolute !important; height: auto; top:60px;}
.tog_btn {border-radius: 4px; float:right; height:23px; padding:2%; margin:1%; position:absolute; right:4px; top:-62px; z-index: 999999 !important; }

.discovers .col-sm-2 {width: 97px;}
.logout .layout_page_header{margin-left:0%;}
.logout .layout_core_menu_logo{width:auto !important; margin-top: 0; height: 60px !important;}
.discovers .col-sm-2 {width: 110px; float:left; margin-bottom:15px;}
.col-md-12 .discovers .spacer-top-20 { padding-left:0%;}
.spacer-top-bottom-30 img{ max-width:100%;}		
	
	
div.hero_bg section.jms-slideshow,
div.hero_bg section.jms-slideshow div.jms-wrapper{ height:266px !important;}

.jms-content{margin-top: 85px !important; width: 49% !important; right:18%; float:right;}
.actor_signature{background-color:#12C5ED; padding:3%; display:block; min-height:100px; border-radius:5px; color:#fff; float:left; margin-left:12%;}

.model_quote p{font-family: aaarghnormal; font-size: 22px !important; line-height: 30px; margin-bottom: 0!important; text-align: justify;}
.a_name{font-family:dancing_script_otregular; color:#fff; font-size:20px; display:block;}
.a_profile{font-family:dancing_script_otregular; color:#fff; font-size:18px; display:block;}		
	}
	
	
	


@media screen  (min-width:481px) and (max-width:640px)
{
.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu{right:0px !important; top:0px !important; float:left; position:relative;}
.layout_core_menu_mini { height: 35px; margin: 0 auto;  position: relative;  width: 72%; z-index: 99;}
.logout .layout_main .layout_core_menu_mini{position:absolute !important; height: auto; top:60px;}
.tog_btn {border-radius: 4px; float:right; height:23px; padding:2%; margin:1%; position:absolute; right:4px; top:-62px; z-index: 999999 !important; }

.discovers .col-sm-2 {width: 97px;}
.logout .layout_page_header{margin-left:0%;}
.logout .layout_core_menu_logo{width:auto !important; margin-top: 0; height: 60px !important;}
.discovers .col-sm-2 {width: 125px; float:left; margin-bottom:25px;}
.col-md-12 .discovers .spacer-top-20 { padding-left:12%;}
.spacer-top-bottom-30 img{ max-width:100%;}	

div.hero_bg section.jms-slideshow,
div.hero_bg section.jms-slideshow div.jms-wrapper{ height:266px !important;}

.jms-content{margin-top: 85px !important; width: 49% !important; right:18%; float:right;}

.actor_signature{background-color:#12C5ED; padding:3%; display:block; min-height:100px; border-radius:5px; color:#fff; float:left; margin-left:12%;}

.model_quote p{font-family: aaarghnormal; font-size: 22px !important; line-height: 30px; margin-bottom: 0!important; text-align: justify;}
.a_name{font-family:dancing_script_otregular; color:#fff; font-size:20px; display:block;}
.a_profile{font-family:dancing_script_otregular; color:#fff; font-size:18px; display:block;}	

}

	
	
	
	

@media screen  (min-width:641px) and (max-width:768px)
{
.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu{right:0px !important; top:0px !important; float:left; position:relative;}
.layout_core_menu_mini { height: 35px; margin: 0 auto;  position: relative;  width: 72%; z-index: 99;}
.logout .layout_main .layout_core_menu_mini{position:absolute !important; height: auto; top:60px;}
.tog_btn {border-radius: 4px; float:right; height:23px; padding:2%; margin:1%; position:absolute; right:4px; top:-62px; z-index: 999999 !important; }


.discovers .col-sm-2 {width: 97px;}
.logout .layout_page_header{margin-left:0%;}
.logout .layout_core_menu_logo{width:auto !important; margin-top: 0; height: 60px !important;}
.discovers .col-sm-2 {width: 94px;}
.spacer-top-bottom-30 img{ max-width:100%;}	

.actor_signature{background-color:#12C5ED; padding:3%; display:block; min-height:100px; border-radius:5px; color:#fff; float:left; margin-left:12%;}
.jms-content{margin-top: 85px !important; width: 47% !important; right:12%;}

.model_quote p{font-family: aaarghnormal; font-size: 22px !important; line-height: 30px; margin-bottom: 0!important; text-align: justify;}
.a_name{font-family:dancing_script_otregular; color:#fff; font-size:20px; display:block;}
.a_profile{font-family:dancing_script_otregular; color:#fff; font-size:18px; display:block;}

	
	}	
	
	
	
@media screen  (min-width:769px) and (max-width:980px)
{

.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu{right:0px !important; top: -42px !important; float:left; position:relative;}
.layout_core_menu_mini #core_menu_mini_menu{width: 100% !important; left:0px !important;}
.spacer-top-bottom-30 img{ max-width:100%;}

	}
	
	
	
					