@charset "utf-8";
/* CSS Document */
.main-head-home{width:100%; height:auto; position:relative; font-family:Lato}
.about-text{ height:auto; padding:65px 10%;font-family:Lato; line-height:21px; font-size:14px; width:50%; position:absolute; top:30%; right:0px; color:#fff; border-radius:150px 0px 0px 150px; box-sizing:border-box; background: rgba(255,131,36,1);
background: -moz-linear-gradient(left, rgba(255,131,36,1) 0%, rgba(255,87,45,1) 73%, rgba(255,87,45,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,131,36,1)), color-stop(73%, rgba(255,87,45,1)), color-stop(100%, rgba(255,87,45,1)));
background: -webkit-linear-gradient(left, rgba(255,131,36,1) 0%, rgba(255,87,45,1) 73%, rgba(255,87,45,1) 100%);
background: -o-linear-gradient(left, rgba(255,131,36,1) 0%, rgba(255,87,45,1) 73%, rgba(255,87,45,1) 100%);
background: -ms-linear-gradient(left, rgba(255,131,36,1) 0%, rgba(255,87,45,1) 73%, rgba(255,87,45,1) 100%);
background: linear-gradient(to right, rgba(255,131,36,1) 0%, rgba(255,87,45,1) 73%, rgba(255,87,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8324', endColorstr='#ff572d', GradientType=1 );}

.about-text h1{font-size:35px; text-transform:uppercase; color:#fff; margin-top:0px; line-height:27px;font-family:Lato; font-weight:700; margin-bottom:15px; font-size:30px;}
.home-header{position:absolute; top:25px; width:100%; padding:0px 4%}
.sub-tit-main-head{font-weight:300; text-transform:uppercase; color:#fff; position:absolute; bottom:70px; left:4%; font-size:37px; font-family:Lato !important}
.sub-tit-main-head a{background:#fff; color: #ff541c;    font-size: 14px;    font-weight: 700; text-transform:uppercase;   margin-right: 20px;    padding:5px; width:140px; text-align:center; display:inline-block}

#global_header{display:none}
body.devices_media{padding-top:0px;}

.home-header .navbar-inverse{background:none; border:0px}
.home-header .navbar-inverse.nologinmenu a{text-transform:uppercase; color:#fff !important; padding:0px 13px; font-weight:700;  border-right:1px solid #fff; line-height:12px;}
.home-header .navbar-inverse.nologinmenu a.hl-menu{ background: #fff none repeat scroll 0 0;    border: 0 none; margin-left:10px;   color: #ff7028 !important;    margin-top: -6px;    padding: 6px 28px; cursor:pointer}
.home-header .navbar-inverse.nologinmenu a.br0{border:0px; margin-right:15px;}
.nologinmenu{width:auto; float:right; margin-bottom:0px; margin-top:23px;}

.index-why-join h1{color:#333; font-family:Lato !important; font-weight:700; font-size:20px; margin-bottom:40px; text-align:center}
.clear{clear:both}
.index-why-join{width:100%; height:auto; padding:30px 4% 80px;}
.index-why-join .col-md-4{text-align:center; padding:0px 7%; line-height:24px;}
.index-why-join .col-md-4 strong{color: #f57d20;    display: block;  line-height:25px;  font-family: Lato !important;    font-size: 19px;    font-weight: 700;    text-transform: uppercase; margin:25px 0 10px;}
.index-why-join .col-md-4 span{display:block; margin-bottom:30px; min-height:80px;}

.heiglights-section{background:#414747; width:100%; position:relative }
.heiglights-section-left{width:45%; float:left; padding:75px 0px; color:#fff; line-height:20px;}
.text-highlight{width:370px; margin:0 auto; text-align:center;  color:#fff; line-height:26px; font-size:14px;}
.heiglights-section-left h2{color:#3dc2bb; font-weight:700; font-family:Lato!important; font-size:26px;}
.heiglights-section-right{background:#f9fafb; border-radius:250px 0px 0px 250px; width:55%; float:right; padding:75px 0px; position:absolute; right:0px; height:100% }

.heiglights-section-right2 h2{color:#FFF; font-weight:700; font-family:Lato!important; font-size:26px;}


.heiglights-section2{background:#ff7128; width:100%; position:relative }
.heiglights-section-left2{width:55%; float:left; padding:75px 0px; color:#fff; line-height:20px; background:#fff; border-radius:0px 250px 250px 0px ;}
.heiglights-section-right2{background:#ff7128;  width:45%; float:right;  padding:75px 0px;}
.heiglights-section2 .heighlight-box{margin-left:6% }

a.org-btn, a.blc-btn, .watch-video{background:#ff541c; color:#fff; padding:7px 30px; border:0px; font-size:14px;}
a.blc-btn{background:#2d3030}
a.watch-video{background:#ffffff; color:#ff541c; font-weight:400}

.heighlight-box{width:40%; float:left;  margin-left:10%}
.heighlight-box.one, .heighlight-box.two{margin-bottom:75px;}
.heighlight-icon{width:20%; float:left; }
.heighlight-icon img{max-width:100%;}
.heighlight-text{width:70%; float:left; line-height:22px;}
.heighlight-text strong{color:#3dc2bb; font-weight:700; font-family:Lato!important; font-size:15px; display:block}

.modal-dialog.org-bg{background:#ff8024; color:#fff; border-radius:0px; text-align:center; width:95%; max-width:800px;}
.modal-dialog.org-bg .modal-content{background:#ff8024;  }
.modal-emailinv, .modal-invitcode{padding:50px; color:#fff; font-size:24px; text-align:center; font-family:Lato; font-weight:700; line-height:38px;}
.modal-invitcode{background:#fa6f22}
.input-box{width:80%; margin:0 auto; margin-top:35px; border:1px solid #fff}
.modal-content{border-radius:0px;}
.modal-emailinv{}
.modal-dialog.org-bg input{width:70%; height:39px; border:0px solid #fff;  font-size:18px !important; font-weight:400; font-family:Lato; background:none; color:#fff; padding-left:5%; outline:none }


.modal-dialog.org-bg ::-webkit-input-placeholder {
    color:#ffffff;
}

.modal-dialog.org-bg ::-moz-placeholder {
    color:#ffffff;
}

a{cursor:pointer}


.modal-dialog.org-bg input.sub-btn{width:30%; background:#fff; height:42px; border:0px solid #fff; color:#ff8024; font-weight:700; font-size:20px; padding-left:0px;}
.modal-dialog.org-bg button.close{width:auto; background:none; border:0px; font-size:45px !important; color:#fff; font-weight:400!important; line-height: 25px;
    opacity: 1;}


@media screen and (max-width :1000px) {
img.main-index-img{width:100%; height:auto}
.about-text{position:static; width:100%; border-radius:0px; padding:65px 4%}
.sub-tit-main-head{color: #333;    padding: 20px 4%;    position: static;    text-align: center;}
.sub-tit-main-head a{border:1px solid #ff541c}
.index-why-join .col-md-4 span{min-height:auto}
.index-why-join .col-md-4{margin-bottom:20px;}
.heiglights-section-left, .heiglights-section-right, .heiglights-section-left2, .heiglights-section-right2 {width:100%; position:static; border-radius:0px; padding-left:4%; padding-right:4%}
@media screen and (max-width :767px) {
	.text-highlight{width:100%}
.heighlight-box{width:100%; margin-bottom:30px; margin-left:0px;}
.heiglights-section2 .heighlight-box{margin-left:0px;}

.heighlight-box.one, .heighlight-box.two{margin-bottom:30px;}
.heiglights-section-right{padding-bottom:35px}
.heiglights-section-left2{padding-top:35px;}
.nologinmenu{width:96%}	
.navbar-collapse.collapse.in{background:#ff541c}
.nav > li{width:100%}
.nav > li > a{ padding:2px 10px}
.home-header .navbar-inverse.nologinmenu a.hl-menu{background:none; margin:0px; color:#fff !important; padding:2px 10px}
.home-header .navbar-inverse.nologinmenu a{line-height:30px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .home-header .navbar-inverse.nologinmenu a{border:0px;}
.nologinmenu{margin-top:0px; position:absolute; top:5px;}
.navbar-toggle{border:0px; margin-top:6px;}
.navbar-toggle .icon-bar + .icon-bar{margin-top:6px;}
.navbar-toggle .icon-bar{width:33px; height:3px;}

.modal-emailinv, .modal-invitcode{padding:20px 10px; font-size:18px; line-height:26px;}
.input-box{width:100%}
modal-dialog org-bg {margin:0px;}

	
}
