@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic,100,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700);

@media screen and (max-width :1200px)

{

    body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 25px;
    vertical-align: top;position: relative; width:85%;float: right;}    
    
    
.classified_proj_details {
    position: relative;
    width: 85%;
    float: right;
}


.login .layout_core_menu_mini #core_menu_mini_menu div.main_menu ul.navigation > li > a {
    line-height: 82px;
    padding: 22px 10px;
}


.login .layout_core_menu_mini #core_menu_mini_menu ul.header_menu_class {
    float: right !important;
    margin-right: 10px;
}

    .layout_core_menu_mini #core_menu_mini_menu > ul > li {
    float: left;
    margin-left: 0px !important;
}


.login .layout_page_header #core_menu_mini_menu ul li#core_menu_mini_menu_update {
    width: 59px;
    background-position: right center;
    background-repeat: no-repeat;
    height: 58px;
    padding: 0px;
    width: 40px;
}

.login .layout_core_menu_mini #core_menu_mini_menu > ul li.no-dloader {
    width: 41px;
    margin-left: 0px;
}



.login .layout_core_menu_mini #core_menu_mini_menu > ul li.no-dloader a.core_mini_auth {
    background-image: url("images/sign-out-header-icon.png");
    background-repeat: no-repeat;
    background-position: 13px 21px;
    text-align: right;
    padding: 5px 10px 4px;
}
.login .layout_core_menu_mini #core_menu_mini_menu > ul li.no-dloader a.core_mini_auth:hover{background-image:url("images/sign-out-header-icon-hover.png"); background-repeat:no-repeat; background-position: 13px 21px; padding:5px 10px 4px; color:#fff !important; text-decoration:none !important;}

.login .layout_core_menu_mini #core_menu_mini_menu > ul > li > a.core_mini_messages{background-image: url("images/header-messgae-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 60px;
    padding-left:0px;
    text-align: center;
    width: 25px;}
    
    .login .layout_core_menu_mini #core_menu_mini_menu ul.tp_center_search {
    margin-left: 0px !important;
    width: 11%;
}

    
}




@media screen and (max-width :1024px)
{

.classified_proj_details {
    position: relative;
    width: 84%;
    float: right;
}
    body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 25px;
    margin-left: 20px;
    vertical-align: top;position: relative; width: 84%;float: right;}   
    


.pub_delet_button {
    position: absolute !important;
    right: 0px;
    top: 30px;
    width: 29% !important;
}

.layout_core_menu_mini #core_menu_mini_menu ul {
    float: right !important; width:100%;
}


.login .layout_main .layout_core_menu_mini #core_menu_mini_menu{top: 0px; height:260px;  right: 0 !important; z-index:9; overflow:scroll;}




.custom_961 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_981 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_1017 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_851 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_971 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_1006 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}

.custom_881 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_891 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_901 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}
.custom_911 {font-size: 13px !important;
padding: 5px 29px !important;
font-weight: normal !important;}



a.fmp {
    color: #777 !important;
    display: block;
    font-size: 12px;
    padding-right:0px;
}


.layout_core_menu_mini {
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 100% !important;
    z-index: 99;
}

body#global_page_user-index-casting .browsemembers_criteria li , body#global_page_user-index-services .browsemembers_criteria li 
{width: 20% ;}


.forgot_container {
    margin: 0 auto;
    width: 50%;
    display: block;
}

ul.albums_manage .albums_manage_options {
    float: right !important;
    overflow: hidden;
    padding-left:0px !important; width:100%;
}

body#global_page_page-index-manage a.share_for_edit, body#global_page_page-index-manage a.shared_mp, body#global_page_page-index-manage a.edit_mp, body#global_page_page-index-manage a.delete_mp, body#global_page_page-index-manage a.pay_now_mp {
    background-image: none; font-size: 12px; color: #777; border: 1px solid #dbdbdb; border-radius: 5px; height: auto; padding: 8px !important; text-align: center; min-width: 70px; display:inline-block;}

body#global_page_classified-application-va .classifieds_browse {
    padding: 25px 20px 40px; background:#fff;}
    
        
}






@media screen and (max-width :980px)
{

 body#global_page_album-index-manage ul.albums_manage > li, body#global_page_pdf-index-index ul.albums_manage > li, body#global_page_album-index-manage ul.albums_editphotos > li, body#global_page_page-index-manage ul.page_list_items > li {border-bottom: 1px solid #ddd !important;    display: inline !important;    float: left !important;    margin-right: 20px !important;    padding: 10px 0 !important;  width: 45% !important; margin-top: 0;}


body#global_page_classified-index-parent .classifieds_browse.my_projects > li.set_projects{
      background-color: #fafafa;
    border-top: 1px solid #dbdbdb;
    height:auto; width:46%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
}

.global_form .form-elements input, .global_form .form-elements textarea {
    width: 100% !important;
}

.ads_middle_container {padding: 0 10px 40px;}



body#global_page_user-edit-profile .cat .form-element.category_list {
    margin: 0 auto 0 0px;
    width: 64%;
    position: relative;
    left: 17%;
}


body#global_page_user-edit-profile .skills {
    margin-top: 5px;
   /* padding:0 474px; font-size:14px;*/
  padding: 0 0px 5px 0px;
width: 45%;
left: 29%;
position: relative;
}



body#global_page_user-edit-profile form div > div .form-elements .form-wrapper {margin: 0 auto; width: 65%;}

.fields_data_center {
    padding: 0 80px;
    margin-bottom: 30px;
}




body#global_page_experience-index-index form.global_form .form-elements {
    padding: 0 0px;
}


.middle_section_exp .form-elements .form-element {
    width: 74%;
    position: relative;
    left: 0%;
}

.middle_section_exp .exp_buttons {
    padding: 0 0px;
}


body#global_page_video-index-manage .layout_page_video_index_manage ul.videos_manage li {clear: none;    display: inline;    float: left;    margin-right: 28px;    width:45%;max-height: 480px !important;}



.classified_proj_details {
    position: relative;
    width: 84%;
    float: right;}

body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 25px;
    margin-left: 20px;
    vertical-align: top;position: relative; width: 84%;float: right;}   



div.writer-textarea-conteiner {
    float: left;
    width: 100% !important;
    margin-top: 10px;
}


.global_form textarea {
    padding: 4px;
    max-width: 100% !important;
    min-height: 100px;
}

.he-col-md-4.tl_left.layout_left_timeline {
    padding: 0 10px 10px;
    background-color: #fff;
    margin-top: 55px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.3);
    width: 35%;
    float: left;
}


.signup_container .custom_log_sec.custom_singup_frm form#signupform {
    margin: 0 auto;
    width: 45%;
}


body#global_page_user-index-casting .browsemembers_criteria li , body#global_page_user-index-services .browsemembers_criteria li 
{width: 19% ;}

.custom_log_sec {
    padding: 85px 0;
}

}





@media screen and (max-width :768px)
{

    body#global_page_page-page-edit #mulitplefileuploader .ajax-file-upload {
    margin-left:0%; position:absolute;  top:0px;}


.job_rgt_box {
    float: left; width:77%;
}


.new_add #address-element {margin-left:0px;}
body#global_page_page-index-create .new_add span.delete_add, body#global_page_page-page-edit .new_add span.delete_add {right:1%;}
.new_add #phone-element, .new_add #zip-element, .new_add #country-element {
    clear: both;
    float: left;
    margin-left:0%; margin-right:5px;
    max-width:100% !important;}

    body#global_page_page-index-create .global_form > div > div .form-elements #client-element.add-more-client, body#global_page_page-index-create .global_form > div > div .form-elements .client-element.add-more-client{margin-left:0%;}

    .add-more-client{margin-left:0%;}
    .add-more-award{margin-left:0%;}
    .add-more-project {margin-left:0%;}
.add-more-showlink{margin-left:0%;}


.designation{ background-image: url("images/designation_icon.png"); background-repeat:no-repeat; background-position:0px center; padding: 0 20px; text-transform: capitalize; color: #464646;}



.classified_proj_details {
    position: relative;
    width: 75%;
    float: right;
}
    body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 25px;
    margin-left: 20px;
    vertical-align: top;position: relative; width:75%;float: right;}    
    

body#global_page_user-index-home .login_my_wrapper #global_content .layout_main { position:relative; overflow:scroll;}

.login_my_wrapper #global_content .layout_main {/*  border-bottom: 1px solid #dbdbdb; */ padding: 20px 2% ; width:100%; background-color: #E9EAED; min-height:600px; position:relative; overflow:scroll;}
.login_my_wrapper #global_content .layout_main .layout_right{width:92%; padding: 0; border: 1px solid #dbdbdb; border-radius: 5px; position: absolute !important;
top:99% !important;}

.login_my_wrapper #global_content .layout_main .layout_middle{width:100%;}


body#global_page_communityad-index-create .cmad_form_left{width:85%!important;}
body#global_page_album-index-manage ul.albums_manage > li, body#global_page_pdf-index-index ul.albums_manage > li, body#global_page_album-index-manage ul.albums_editphotos > li, body#global_page_page-index-manage ul.page_list_items > li {border-bottom: 1px solid #ddd !important;    display: inline !important;    float: left !important;    margin-right: 45px !important;    padding: 10px 0 !important;  width:43% !important; margin-top: 0; max-height:none !important;}
body#global_page_classified-index-parent .classifieds_browse.my_projects > li.set_projects{
      background-color: #fafafa;
    border-top: 1px solid #dbdbdb;
    height:auto; width:97%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
}

    body#global_page_classified-index-create .form-elements {padding: 0 30px;}
    
.fleft {
    float: left !important;
    width: 26% !important;
}

.paidEvents.scroll-pane {
    background-color: #fafafa;
    width: 74%;
    height: auto;
}

body#global_page_communityad-index-index .contentblock_right_inner_btn {
    width: 47% !important;
}

    
    
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_rightside {
    float: left;
    overflow: hidden;
    padding-left: 5%;
    width: 54%;
}
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_leftside {float: left;  overflow: hidden;    width: 45%;}
    
 .cat{padding:0 40px; position:relative; margin-top: 30px;}

.skil {
    padding: 0 40px;
    position: relative;
}

body#global_page_user-edit-profile form.global_form .form-elements {
    padding: 0 40px;
}


body#global_page_user-edit-profile .cat .form-element.category_list {
    margin: 0 auto 0 0px;
    width: 63%;
    position: relative;
    left: 18%;
}

.fields_data_center {
    padding: 0 0px;
    margin-bottom: 30px;
}

.edit_list {
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
}

.form_center {
    padding: 0 50px;
}


body#global_page_video-index-manage .layout_page_video_index_manage ul.videos_manage li {clear: none;    display: inline;    float: left;    margin-right: 28px;    width:100%;max-height: none !important;}

.pub_delet_button {
    position: absolute !important;
    right: 0px;
    top: 30px;
    width: 36% !important;
}

body#global_page_user-profile-index #global_content .layout_main .layout_right {
    width: 92%;
    float: right;
}

body#global_page_user-profile-index #global_content .layout_main .layout_middle {
    width: 100%;
    float: left;
}


 


.layout_page_classified_job_search .browsemembers_criteria ul li { width: 170px;}


.global_form div.form-element {
    min-width: auto !important;
    max-width: 100% !important;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
    float: none !important;
    clear: none;
    width: 100% !important;
}

.ajax-upload-dragdrop {
    padding: 2px 0px 0 !important;
    border: 0 none !important;
    width: 100% !important;
    float: left;
}

body#global_page_page-index-timeline-view .cover-container > h2 {
    bottom: 25px;
    color: #fff;
    display: block;
    float: none;
    font-family: robotoregular;
    font-size: 28px;
    left: 211px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-shadow: 1px 4px 5px #161616;
    z-index: 3;
    top: 195px;
}


.vtabs .vtabs-content-column {
    padding: 0px;
    width: 68%;
    float: right;
}

.layout_core_menu_mini {
    margin: 0 auto;
    width: 100% !important;
    z-index: 99;}
    
    

    
.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu {
    right: 24px !important;
    top: 63px !important;
    float: right;
    position: absolute;
    width: 100%;
}



.login_container {
    margin: 0 auto;
    width:100%;
    display: block;
}

.custom_log_sec{padding:77px 30px;}


.signup_container .custom_log_sec.custom_singup_frm form#signupform {
    margin: 0 auto;
    width: 55%;
}


.forgot_container {
    margin: 0 auto;
    width: 70%;
    display: block;
}


.generic_layout_container.layout_core_contact {width: 53%;}
    


body#global_page_user-index-casting .browsemembers_criteria li , body#global_page_user-index-services .browsemembers_criteria li 
{width: 23% ;}


.layout_page_classified_job_search .browsemembers_criteria ul li {
    display: inline-block;
    margin-right: 8px;
    width:25%;
    vertical-align: top;
    margin-top: 0px;
    overflow: visible;
}



.layout_page_classified_job_search .browsemembers_criteria ul li.search_button {margin-top:0px;}
body#global_page_user-index-casting .browsemembers_criteria ul li.search_button {margin-top: 0px;}

body#global_page_user-index-browse ul.row_start.talent_start li {width: 30%;}

.ajax-file-upload {font-size: 13px !important;box-shadow: none !important;line-height: normal !important;padding: 8px 12px !important;background: #2ab9b7 none repeat scroll 0 0 !important;height: auto !important;float: left;}

.inbox-search { width:250px !important; margin:5px 0;}
 
body#global_page_messages-messages-view .generic_layout_container.layout_core_content {
    clear: both;
    padding: 0 40px;
} 

.merge_address {
    margin-left:0%;
    width: 100%;
}
.addSkills {
    background-image: url("images/company-creat-page-hover.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 34px;
    position: absolute;
    width: 25px;
    background-color: transparent;
    right: 33px;
}

body#global_page_classified-index-edit .form-elements {
    padding: 0 10px;
}

body#global_page_classified-index-edit form.classifieds_browse_filters button#execute {
    background-color: #333333;
    border: 0 none;
    border-radius: 5px;
    margin: 0;
    padding: 10px 15px;
    margin-left: 10px;
}

#signinerror {
    background: rgba(255, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 45px;
    color: #fff;
    font-family: robotoregular;
    font-size: 15px;
    height: 26px;
    left: 260px;
    line-height: 4px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 39%;
}


.allads { position:absolute; bottom:-217px; left:0;} 


.fxd_header{position:relative;  top:0px; width:100%;}

#wpPhotoViewer .wpPhoto {
  float: left;
  overflow: hidden; width:55% !important;}
  
#wpPhotoViewer .wpComments {
  float: left;
  overflow: hidden;width:40% !important;
}


body#global_page_classified-application-va .classifieds_browse_info_c {
    float: left;
    padding-right: 60px;
    width: 61%;
}

body#global_page_communityad-display-adboard #advertisment_content.layout_middle .caab_ad .caab_list {
    border-bottom: 1px solid #eee !important;
    display: inline-block;
    float: none !important;
    height: 250px;
    margin: 0 auto 10px 20px;
    vertical-align: top;
    width: 45%;
}

.cmaddis .cmaddis_title{font-size: 12px !important;margin-top: 15px;}
    body#global_page_album-album-edit button#submit_album{background-color:#fb933c; padding:10px 15px; border-radius:5px; margin-left:0%; float:left; margin-top:0px; margin-bottom:0px; border: 0 none;}

#\31 _1_435-wrapper {
    width: 9% !important;
    float: left;
    clear: none !important;
    margin-left: 17.5% !important;
    margin-right: 2% !important;
}

}


@media screen and (max-width :640px)
{

body#global_page_album-album-view .layout_middle ul.thumbs_nocaptions li {
    height: 165px;
    width: 165px;
}

.layout_right .cmad_ad_clm .head { display:none;}
.payment_terms{ background-image: url("images/price_icon_classified.png"); background-repeat:no-repeat; background-position:3px center; padding: 0 20px; text-transform: capitalize; color: #464646;}
.classified_project_status > p{margin-bottom: 0; font-size: 14px; color:#464646; display:block;}
ul.page_list_items .page_list_item_info {
    overflow: visible !important;
    width: 50% !important;
    float: left  !important;
}


 body#global_page_album-index-manage ul.albums_manage > li, body#global_page_pdf-index-index ul.albums_manage > li, body#global_page_album-index-manage ul.albums_editphotos > li, body#global_page_page-index-manage ul.page_list_items > li {border-bottom: 1px solid #ddd !important;    display: inline !important;    float: left !important;    margin-right: 0px !important;    padding: 10px 0 !important;  width:100% !important; margin-top: 0; max-height:none !important;}




body#global_page_user-index-browse .layout_left div.browsemembers_criteria ul li {width: 1.2% !important; padding-right:0% !important;}



body#global_page_user-index-casting .browsemembers_criteria li 
{width: 47% ; margin-bottom:10px;}

body#global_page_user-index-services .browsemembers_criteria li {width: 31% ; margin-bottom:10px;}


 #compose-container.compose-container {
    border: 1px solid #dbdbdb;
    float: right;
    width: 91%; min-height: 33px;}


 body#global_page_core-pages-events #wrap {margin: 0 auto;    padding: 0 35px 40px !important;    width: 100% !important; position: relative;}
    
    
    
    
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_rightside {
    float: left;
    overflow: hidden;
    padding-left:0%;
    width:100%;
}
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_leftside {float: left;  overflow: hidden;    width: 100%;}
        
.middle_section_exp .form-elements .form-element {
    width: 77%;
    position: relative;
    left: 16%;
}   


.middle_section_exp .exp_buttons {
    padding: 0 75px;
}

    .pub_delet_button {
    position: absolute !important;
    right: 0px;
    top: 30px;
    width: 43% !important;
}


.messages_list_from {
    width: 84% !important;
}

body#global_page_messages-messages-inbox .messages_list_info, body#global_page_messages-messages-search .messages_list_info, body#global_page_messages-messages-outboxsearch .messages_list_info {
    background-color: transparent;
    width: 100%;
}



.messages_list .messages_list_info {
    overflow: hidden;
    width: 100% !important;
}



body#global_page_user-profile-index ul.user_pages li {
    border-radius: 5px !important;    float: left;    height: auto;    margin: 0 auto;    overflow: hidden;    padding: 0;    text-align: center;    width: 100%; padding-left: 0px; border-top:0 none; margin-bottom: 25px;}



.classified_proj_details {
    position: relative;
    width: 72%;
    float: right;}

body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 25px;
    margin-left:0px;
    vertical-align: top;position: relative; width: 72%;float: right;}   


.layout_page_classified_job_search .browsemembers_criteria ul li {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    margin-top: 0px;
    overflow: visible;width: 47%;
margin-bottom: 13px;
}


.login_my_wrapper #global_content .layout_main .layout_middle {
    width: 100% !important;
}

.he-col-md-4.tl_left.layout_left_timeline {
    padding: 0 10px 10px;
    background-color: #fff;
    margin-top: 55px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.3);
    width: 100%;
    float: left;
}

#timelinefeedtab.he-col-md-8.generic_layout_container.layout_middle_timeline {
    padding: 0px !important;
    width: 100% !important;
    float: left;
}


.vtabs .vtabs-content-column {
    padding: 0px;
    width: 60%;
    float: right;
}



ul.footer-nav { line-height:normal; padding:0; margin:0; text-align:left}
ul.footer-nav li {padding:0px 12px; margin:15px 0px; display:inline-block; float:none; list-style:none;  border-left: solid 1px #333333;}
ul.footer-nav li:first-child { border-left:none;}



ul.footer-social { line-height:normal; margin:0; padding:0; float:none; text-align:center;}
ul.footer-social li { list-style:none; padding:0; margin:0 15px; float:none; border:none; display:inline-block;}


body#global_page_messages-messages-inbox .messages_list_info {margin-top: 10px;
float: left;}

.ynfeed_pulldown_btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: block !important;
}

.yncomment_replies_info_op {
    display: block !important;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.ynfeed_advcomment .yncomment_comment_box {
    padding: 10px 1px;
    border-width: 2px;
    width: 93% !important;
}


body#global_page_classified-application-va .classifieds_browse_info_c {
    float: left;
    padding-right: 30px;
    width:51%;
}

body#global_page_classified-application-va .classifieds_browse_actions {float: left; width:24%;}


#\31 _1_69-wrapper {
    width: 52% !important;
    float: left;
    clear: none !important;
}

/*body#global_page_user-edit-profile .skills {
    margin-top: 5px;
    padding: 0 474px;
    font-size: 14px;
    padding: 0 0px 5px 0px;
    width: 62%;
    left: 23%;
    position: relative;
}*/


}








@media screen and (max-width :480px)
{

#wpPhotoViewer a.wpNext, #wpPhotoViewer a.wpNext:active, #wpPhotoViewer a.wpNext:link {
    right: 7% !important;
    font-size: 45px !important;
}


.job_rgt_box {
    float: left;
    width: 69%;
}

body#global_page_album-album-view .layout_middle ul.thumbs_nocaptions li {
    height: 125px;
    width: 125px;
}


.allads { position:absolute; bottom:-176px; left:0;} 

body#global_page_user-index-browse ul.row_start.talent_start li, .search_user_pic{min-height: 140px !important;}


body#global_page_page-index-view .layout_middle .layout_page_profile_photo #profile_photo {
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 2px;
    height: 110px; position:relative;
    width:100%;}





.cmad_create .global_form div.form-element {
    max-width: none;
    width: 100% !important;
}
.fright {
    float: left !important;
}

    
    .cmad_icon_back_icon {
   float: left !important;
    margin-top: 5px;
}
    



.ynfeed_advcomment .yncomment_comment_box {
    padding: 10px 1px;
    border-width: 2px;
    width: 89% !important;
}



.inviter-search div { width:100%; float: left; overflow: hidden;}
.inviter-search div input, div.inviter-search div select {
    width: 100% !important;
    margin-top: 0px !important;
    border: solid 1px #C9C9C9 !important;}


.inviter-search form > div {
    float: left;
    overflow: hidden; margin-left:0px !important;   
}

    

.inviter-search {
    float: left;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    width: 100%;     
}
.inviter-search div label {
    font-size: 11pt;
    font-weight: 700;
    display: block;
}

body#global_page_classified-index-manage #global_content h2,body#global_page_Userinvitations-index-manage #global_content h2  {color: #666;font-family: robotoregular;font-size: 22px;font-weight: 700;margin:0 10px; padding: 10px 0px;text-transform: capitalize;}



body#global_page_classified-index-parent .classifieds_browse.my_projects > li.set_projects{
      background-color: #fafafa;
    border-top: 1px solid #dbdbdb;
    height:auto; width:94%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
}


body#global_page_classified-index-parent h2{color: #666; font-family: robotoregular; font-size: 22px; font-weight: 700; margin:0 6px; padding: 10px 0px;
    text-transform: capitalize;}

h2.create_pdf {   float: right;
    padding: 10px !important;}
    

body#global_page_core-pages-events #wrap {margin: 0 auto;    padding: 0 35px 40px !important;    width: 100% !important; position: relative;}
body#global_page_classified-index-create .form-elements {padding: 0 10px;}
        

.fleft {
    float: left !important;
    width: 100% !important;
}

.paidEvents.scroll-pane {
    background-color: #fafafa;
    width: 100%;
    height: auto;
}

body#global_page_communityad-index-index .contentblock_right_inner_btn {
    width: 67% !important;
}
    
    
    
.cat{padding:0 10px; position:relative; margin-top: 30px;}

/*body#global_page_user-edit-profile .skills {
    margin-top: 5px;
    padding: 0 474px;
    font-size: 14px;
    padding: 0 0px 5px 0px;
    width:85%;
    left: 4%;
    position: relative;
}
*/


 
 body#global_page_user-edit-profile form.global_form .form-elements {padding: 0 10px;}


body#global_page_user-edit-profile .cat .form-element.category_list {
    margin: 0 auto 15px 0px;
    width: 98%;
    position: relative;
    left: 0%;
}


body#global_page_user-edit-profile form div > div .form-elements .form-wrapper {
    margin: 0 auto;
    width: 100%;
}


.fields_data_center .field_data_wrapper .field_data_label {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 4px 15px 0 2px;
    text-align: left;
}

element {

}
.fields_data_center .field_data_wrapper .inst_data {

    background-color: #D8D8D8;
    border-radius: 3px;
    color: #999;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 7px 5px;
    text-transform: capitalize;
    width: 100%;

}



.edu_rem {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 335px;
    top: -22px;
    vertical-align: top;
    width: 70px;
}




.edit_input_list {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 300px;
    top: -22px;
    width: 46px;
    left: 5px;
}

.poss {
    margin-bottom: 17px;
    padding: 0 15px;
    position: relative;
}

.skip_div.abs_d {
    display: block;
    margin-right: 9px;
    text-align: right;
}

.form_center {
    padding: 0 0px;
}


.middle_section_exp .form-elements .form-element {
    width: 100%;
    position: relative;
    left: 0%;
}

.middle_section_exp .exp_buttons {
    padding: 0 0px;
}



body#global_page_album-index-manage #global_content h2 {
    color: #666;
    font-family: robotoregular;
    font-size: 22px;
    font-weight: 700;
    margin: 0 7px;
    padding: 10px 0px;
    text-transform: capitalize;
    width: 100%;
}

body#global_page_video-index-manage #global_content h2 {
    color: #666666;
    font-family: robotoregular;
    font-size: 22px;
    font-weight: 700;
    margin: 0 3px;
    padding: 10px 0px;
    text-transform: capitalize;
    width: 100%;
}

.pub_delet_button {
    position: absolute !important;
    right: 0px;
    top: 30px;
    width: 55% !important;
}

.messages_list_from {
    width: 50% !important;
}



        .layout_user_profile_name #profile_name h2 span,
    .layout_page_profile_name #profile_name h2 span
    {
    margin-left:9px;text-shadow: 1px 1px 1px #333; width:auto; 
       text-transform: lowercase; padding:0; display:inline-block; }
       


.layout_user_profile_name #profile_name h2, .layout_page_profile_name #profile_name h2 {
    font-size: 21px;
    line-height:26px;
    margin: 0;
    text-shadow: 1px 4px 5px #161616;
    text-transform: capitalize; display:block;
}


.layout_user_profile_photo, .layout_user_profile_options {
    padding: 0px !important;
}


body#global_page_page-index-view .layout_middle .layout_page_profile_photo {/* position: absolute;    width: 13%; left: 0;margin-left: auto;margin-right: auto; right: 0;top: 13%; */ float: left; left: 7px; top: 245px; position: absolute; width:110px; z-index: 99;}

body#global_page_user-profile-index .layout_middle .layout_user_profile_photo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    float: left;
    left: 7px;
    margin-top: 245px;
    width: 110px;
    z-index: 99;
}
body#global_page_user-profile-index .layout_middle .layout_user_profile_photo #profile_photo {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    height: 110px;
    width: 100%;
}

.layout_user_profile_name #profile_name, .layout_page_profile_name #profile_name {
    color: #fff;
    display: block;
    float: left;
    margin-left: 136px;
    margin-top: 60px;
    width:60%;
}

    
        
body#global_page_user-profile-index .vtabs .vtabs-tab-column {
    width: 100%;
}

body#global_page_page-index-view .vtabs .vtabs-tab-column ul li, body#global_page_user-profile-index .vtabs .vtabs-tab-column ul li {
    padding: 12px 10px;
    float: left;
}

.vtabs .vtabs-content-column {
    border-left: none !important;
    margin-left: 0px !important;
    position: relative;
    top: 0;
    width: 100%;
    float: left;margin-top: 45px !important;
}


.update_info {
    background-color: #2ab9b7;
    background-image: url("images/edit_memeber_profile_icon2.png");
    background-position: 75px 7px;
    background-repeat: no-repeat;
    background-size: 12px auto;
    border-radius: 0 3px;
    color: #fff !important;
    display: block;
    font-size: 12px;
    height: 33px;
    line-height: normal;
    padding: 9px 6px;
    position: absolute;
    right: 0px;
    vertical-align: middle;
    width: 92px;
    z-index: 9;
    top:0px;
}

.vtabs-tab-column li.open {
    border-bottom: 0 none !important;
    border-left: 3px solid #fb933c !important;
    border-top: 0 none !important;
}

body#global_page_classified-index-view ul.classifieds_entrylist .classified_entrylist_entry_date {
    background-color: #fafafa;
    color: #69706e;
    font-size: 8pt;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}


.classified_proj_details {
    position: relative;
    top: 4px;
    left: 0px;
    width: 100%;
}


.classified_project_status > p {
    margin-bottom: 0;
    font-size: 14px;
    color: #464646;
    display: block;
}


.classified_proj_details {
    position: relative;
    width: 69%;
    float: right;}

body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 22px;
    margin-left: 20px;
    vertical-align: top;position: relative; width: 69%;float: right;}   



.layout_page_classified_job_search .browsemembers_criteria ul li {
    display: inline-block;
    margin-right: 0px;
    width:100%;
    vertical-align: top;
    margin-top: 8px;
    overflow: visible;
}

.layout_page_classified_job_search .browsemembers_criteria ul li.search_button {margin-top:10px;}



.job_desc > p {
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
    padding:0px;
}


body#global_page_classified-index-view .classified_stats {
    padding: 0 10px;
}


div.default_provider {
    padding-left: 5px;
    height: 81px !important;
    float: left;
}


.timeline-profile-tabs a.profile-photo {
    border-radius: 2px;
    left: 10px;
    position: absolute;
    margin-top: 0;
    z-index: 99;
    width: 120px !important;
    height: 120px !important;
    border: 4px solid #fff;
    bottom: 0;
}
    .profile-photo.he-thumbnail:hover {height: 120px !important;    width: 120px !important;}


.timeline-profile-tabs .title-n-options .option-buttons {
    position: relative !important;
    right: 0;
    bottom: 0;
}

body#global_page_page-index-timeline-view .cover-container > h2 {
    bottom: 25px;
    color: #fff;
    display: block;
    float: none;
    font-family: robotoregular;
    font-size: 20px;
    left: 150px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-shadow: 1px 4px 5px #161616;
    z-index: 3;
    top: 130px;
}



.vtabs .vtabs-tab-column {
    position: relative;
    left: 0;
    margin-top: 30px;
    width: 100%;
    min-width: 170px;
    float: left;
}

body#global_page_page-index-timeline-view .timeline-profile-tabs .cover-container {
    height: 250px;
    position: relative;
}


.logout .layout_main .layout_core_menu_mini {
    height: auto; position:static;
}


.layout_core_menu_mini {
    margin: 0 auto;
    width: 100% !important;
    z-index: 99;
}


.logout .layout_main .layout_core_menu_mini #core_menu_mini_menu {
    right: 0px !important;
    top: 63px !important;
    float: right;
    position: absolute;
    width: 100%;
}


.signup_container .custom_log_sec.custom_singup_frm form#signupform {
    margin: 0 auto;
    width: 95%;
}

.forgot_container {
    margin: 0 auto;
    width: 95%;
    display: block;
}



ul.footer-nav { line-height:normal; padding:0; margin:0; text-align:left}
ul.footer-nav li {padding:0px 12px; margin:15px 0px; display:inline-block; float:none; list-style:none;  border-left:none;}
ul.footer-nav li:first-child { border-left:none;}

.generic_layout_container.layout_core_contact {width: 85%;}
    
    

body#global_page_user-index-casting .browsemembers_criteria li, body#global_page_user-index-services .browsemembers_criteria li {
    width:100%;
    margin-bottom: 10px;
}


.search_user_pic {
    min-height: 143px !important;
}

.search_user_pic {
    background-position: center 70%;
    background-size: 100%;
    border-radius: 3px;
    display: block;
    left: 0;
    margin: 0 auto;
    min-height: 248px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
}

body#global_page_user-index-browse ul.row_start.talent_start li {
min-height: 143px;
}

.custom_oupload_camera_icon_small:hover {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    margin-top: 51px;
    background-size: 21px auto; height:60px;
}


.custom_oupload_camera_icon_small {
    background-image: url("images/up_camera_icon.png");
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 3px 4px;
    color: #fff !important;
display: block;
height: 34px;
position: absolute;
width: 100%;
margin-top:0px;
bottom: 0;
}



body#global_page_album-index-upload .form-elements {
    padding: 0 40px;
}






#global_content h2 {
    font-family: robotoregular;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0px;
    padding: 10px 0px;
    text-transform: capitalize; width:100%;
}

#global_content h2.create_pdf
{margin:0px !important; width:auto !important; padding:6px !important;}
#global_content h2.create_pdf a
{padding:10px !important;}

    
    .merge_address {
    margin-left: 0px;
    width: 100%;
}

#paidSeaocorePanel .contentblock_right_inner {border-left:none!important; border-right: 0;}

.white_content {
    display: none;
    position: fixed;
    top: 25%!important;
    left: 15%!important;
    width: 68% !important;
    padding: 16px;
    border: 8px solid #444;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}


.Userinvitations_middle {
    width: 100%;
    height: auto;
    float: left;
    overflow: scroll;
}

 .inbox-search-form { float:left; margin-top:6px;}
 
 #signinerror {
    background: rgba(255, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 45px;
    color: #fff;
    font-family: robotoregular;
    font-size: 15px;
    height: 26px;
    left: 130px !important;
    line-height: 4px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 48%;
}



body#global_page_communityad-statistics-index .cadmc_statistics_search form.global_form_box div > div .form-elements > div {
    display: inline-block !important;
    float: left !important;
    margin-top: 0;
    width:100%;
}

body#global_page_communityad-statistics-index .cadmc_statistics_search form.global_form_box div > div .form-elements > div select
{
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 1px 4px;
    width: 100%;
}


 .tabs{background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; font-family: robotomedium !important; color: #fff !important; text-shadow: none !important;padding: 0 5px !important;}
.tabs > ul li.active {
    border: 0px !important;
    margin-right: 0px;}
    
.tabs > ul li { padding: 0 5px !important;} 

 .tabs > ul li > a{text-shadow:none !important; color: #666 !important; padding: 8px 3px !important;font-weight:700 !important; font-size:13px !important;}
 
 #wpPhotoViewer .wpPhoto {
  float: left;
  overflow: hidden; width:100% !important;}
  
#wpPhotoViewer .wpComments {
  float: left;
  overflow: hidden;width:53% !important; display:none}


    .add-more-client{margin-left:0%;}
    .add-more-award{margin-left:0%;}
    .add-more-project {margin-left:0%;}

    body#global_page_page-index-create .global_form > div > div .form-elements #client-element.add-more-client, body#global_page_page-index-create .global_form > div > div .form-elements .client-element.add-more-client{margin-left:0%;}

body#global_page_classified-index-parent #TB_iframeContent {
    min-height: 140px !important;
    width:100% !important;
}


.headline > h2 {
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 0px !important;
}
    
    
body#global_page_classified-application-va .classifieds_browse_info_c {
    float: left;
    padding-right:0px;
    width:71%; margin-top:15px;
}

body#global_page_classified-application-va .classifieds_browse_actions {float: left; width:27%; margin-top:15px;}
body#global_page_communityad-display-adboard #advertisment_content.layout_middle .caab_ad .caab_list .cmaddis  .cmaddis_image {height: 110px;    width: 100% !important;}


    body#global_page_communityad-index-index #global_content h2, body#global_page_communityad-display-adboard #global_content h2, body#global_page_communityad-statistics-index #global_content h2, body#global_page_communityad-statistics-export-report h2, body#global_page_communityad-statistics-browse-ad h2, body#global_page_communityad-index-edit h2, body#global_page_communityad-display-help-and-learnmore h2, body#global_page_communityad-index-create h2, body#global_page_communityad-index-editcamp h2{color: #666; font-family: robotoregular; font-size: 22px; font-weight: 700; margin: 0 0px; padding: 10px 0px;  text-transform: capitalize;}

body#global_page_communityad-statistics-index .cadcomp_vad_header > h3, body#global_page_communityad-statistics-export-report .layout_middle h3, body#global_page_communityad-statistics-browse-ad .cadcomp_vad_header h3,
body#global_page_communityad-display-help-and-learnmore .generic_layout_container.layout_core_content > h3 {
    border-bottom: 1px solid #fb933c;
    display: inline-block;
    font-family: robotoregular;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0px 9px;}
    
    
#\31 _1_435-wrapper {
    width: 10% !important;
    float: left;
    clear: none !important;
    margin-left: 0% !important;
    margin-right: 4% !important;
}
    
    
.skil {
    padding: 0 13px;
    position: relative;
}
    
}




@media screen and (max-width :360px)

{
 


a.classified_delete{background-color: #d00000;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding: 7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_delete:hover{background-color: #a60101; text-decoration: none !important;}
    
a.classified_close{background-color: #464646;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding: 7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_close:hover{background-color: #5a5a5a; text-decoration: none !important;}
    
    
a.classified_open{background-color: #2ab9b7;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding: 7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_open:hover{background-color: #45ada2; text-decoration: none !important;}
    
a.classified_share{background-color: #2ab9b7;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding: 7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_share:hover{background-color: #1d9c9a; text-decoration: none !important;}
    
a.classified_apply{background-color: #2ab9b7;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding:7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_apply:hover{background-color: #1d9c9a; text-decoration: none !important;}
    
a.classified_applied{background-color: #2ab9b7;
    border-radius: 5px !important;
    color: #fff !important;
    display: inline-block;
    padding: 7px 12px; color:#fff; min-width:65px; text-align:center; font-weight:700 !important;}
    a.classified_applied:hover{background-color: #1d9c9a; text-decoration: none !important;}
    
    
    
    
.browsemembers_results ul li .job_box .job_lft_box {
    border: 4px solid #fff;
    border-radius: 3px;
    box-shadow: 4px 4px 6px #c3c3c3;
    float: left;
    height: auto;
    margin-right: 10px;
    width: 95px;
    padding: 1px 0;
}


.browsemembers_results ul li .job_box .job_lft_box span.search_user_profile {
    background-position: 50% 50%;
    background-size: cover;
    float: left;
    height: 85px;
    width: 100%;
}



.job_rgt_box {
    float: left;
    width: 60%;
}

.album_options a {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

#smoothbox_window .global_form_popup textarea, #smoothbox_window span#global_content_simple {
    width: 93% !important;
}


    body#global_page_page-index-manage #TB_iframeContent
    {width:300px !important; }
    
    
.viewedit-input { width:50% !important;}

.allads { position:absolute; bottom:-150px; left:0;} 


body#global_page_classified-index-view .body_text h2 {color: #fb933c; font-size: 20px;text-transform: capitalize; margin-top: 5px; margin-bottom:0px;}


    .proj_status_open {
    color: #666;
    display: inline-block;
    font-size: 14px;
    text-align: left; }
    

    body#global_page_classified-index-view .classified_entrylist_entry_date .classified_proj_details .Script p {
    display:block;
    font-size:14px; padding-right:10px; margin:0;}

body#global_page_classified-index-view .classified_entrylist_entry_date img.thumb_normal{
    border-radius: 2px;
    height:70px; float:left;
    width: 70px; margin-top:0px;}
    
    
.followers .view_title {
    font-size: 11px;
    line-height: normal;
    vertical-align: top;
}
.user_views_followers .followers {
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 4px;
    width: 50px;
    line-height: 14px;
}

.user_views_followers .friend_request a.buttonlink {
    font-size: 11px !important;
    line-height: 16px;
    vertical-align: top;
    color: #4c5153 !important;
    font-weight: 500;
    padding-left: 0px !important;
    padding-bottom: 0;
}

#profile_options a.tft {
    color: #ccc;
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: -38px;
}

    body#global_page_album-album-view .layout_middle ul.thumbs_nocaptions li {height: 115px; width:115px;}

 #compose-container.compose-container {
    border: 1px solid #dbdbdb;
    float: right;
    width: 85%; min-height: 33px;}


ul.albums_manage .albums_manage_options {
    float: none !important;
    overflow: hidden;
    padding-left: 20px;
}
    
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_rightside {
    float: left;
    overflow: hidden;
    padding-left:0%;
    width:98%;
}
body#global_page_activity-notifications-index div.notifications_layout > div.notifications_leftside {float: left;  overflow: hidden;    width: 98%;}
    

.cat{padding:0 10px; position:relative; margin-top: 30px;}

/*body#global_page_user-edit-profile .skills {
    margin-top: 5px;
    padding: 0 474px;
    font-size: 14px;
    padding: 0 0px 5px 0px;
    width:85%;
    left: 4%;
    position: relative;
}*/



 
 body#global_page_user-edit-profile form.global_form .form-elements {padding: 0 10px;}


body#global_page_user-edit-profile .cat .form-element.category_list {
    margin: 0 auto 15px 0px;
    width: 98%;
    position: relative;
    left: 0%;
}


body#global_page_user-edit-profile form div > div .form-elements .form-wrapper {
    margin: 0 auto;
    width: 100%;
}

    .tabs > ul li.active{border:0px !important; margin-right: 0px;}
    .tabs > ul li{padding: 0 2px !important;}   


body#global_page_user-edit-profile .fancybox-wrap {
    width: 310px !important;
}


.edu_rem {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 230px;
    top: -22px;
    vertical-align: top;
    width: 70px;
}

.edit_input_list {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 180px;
    top: -22px;
    width: 46px;
}


ul.videos_manage .video_info {
    overflow: hidden;
    width: 100%;
}

ul.videos_manage .video_options {
    float: none;
    overflow: hidden;
    padding-left: 20px;width: 60%;
}


.pub_delet_button {
    position: relative !important;
    right: 0px;
    top: 5px;
    width: 100% !important;
    float: left !important;
}


body#global_page_user-edit-review .publish_button a.publish {
    right: 5px;
    position: relative;
    top: 5px; float:right;
}

.review_delete {
    float: right !important;
    width: auto !important;
}

body#global_page_user-edit-review h3.ynmember-review-item-title {
    margin: 16px 0 0;
    width: 100%;
    float: left;
}

body#global_page_user-edit-review .delete_button a {
    background-color: #5a5a5a;
    border: 0 none;
    border-radius: 5spx;
    display: inline-block;
    float: right;
    padding: 5px 12px;
    color: #fff;
    border-radius: 5px;
}


body#global_page_user-edit-review .publish_button a {
    background-color: #fb933c;
    border: 0 none;
    border-radius: 3px;
    display: inline-block;
    float: right;
    padding: 5px 11px;
    color: #fff;
    margin-right: 5px;
    margin-top: 0 !important;
}



.layout_user_profile_name #profile_name, .layout_page_profile_name #profile_name {
    color: #fff;
    display: block;
    float: left;
    margin-left: 105px;
    margin-top:55px;
    width:100%; height:70px; overflow:hidden;
}


.custom_oupload_camera_icon_small:hover {
background-color: rgba(0, 0, 0, 0.7);
font-size: 10px;
margin-top: 0px;
background-size: 22px auto;
position: absolute;
bottom: 0px;
height: 51px;
}

.custom_oupload_camera_icon_small {
background-image: url("images/up_camera_icon.png");
background-repeat: no-repeat;
background-size: 25px auto;
background-position: 3px 4px;
color: #fff !important;
display: block;
height: 30px;
position: absolute;
width: 100%;
margin-top: 0px;
bottom: 0;
}



body#global_page_user-profile-index .layout_middle .layout_user_profile_photo #profile_photo {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
    height: 100px;
    width: 100%;
}


body#global_page_page-index-view .layout_middle .layout_page_profile_photo #profile_photo {
    background-color: #fff;    border: 4px solid #fff;    border-radius: 2px;    height: 100px; position:relative;    width:100%;}

body#global_page_page-index-view .layout_middle .layout_page_profile_photo {/* position: absolute;    width: 13%; left: 0;margin-left: auto;margin-right: auto; right: 0;top: 13%; */ float: left; left: 7px; top: 245px; position: absolute; width:90px; z-index: 99;}





body#global_page_user-profile-index .layout_middle .layout_user_profile_photo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    float: left;
    left: 6px;
    margin-top: 245px;
    width: 90px;
    z-index: 99;
}

#main_tabs > li {
    float: left;
    padding: 0 2px;
}


.outbox-search { width:auto; float:left; margin:15px 0;}

.user_views_followers {
    background: rgba(4, 4, 4, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    right:0px;
    top: 300px;
    width: auto;
}

.user_views_followers .views{
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 4px;
    width: 40px;
    line-height: 14px;
}

.views .view_title, .followers .view_title {
    font-size: 11px;
    line-height: normal;
    vertical-align: top;
}


body#global_page_user-profile-index .vtabs .vtabs-content-column .vtabs-content-panel ul.thumbs, body#global_page_page-index-view .vtabs .vtabs-content-column .vtabs-content-panel ul.thumbs {
    width: 138px !important;
}
body#global_page_user-profile-index ul#profile_albums.thumbs .thumbs_photo > span {
    height: 120px !important;
    width: 100% !important;
}

.vtabs-content-panel {
    padding: 10px 6px !important;
}



.add_category > p {float: none;  font-size: 14px;  padding-right: 10px; border-right:none; margin-right: 10px; display:block;}


.classified_proj_details {
    position: relative;
    width:100%;
    float: right;}

body#global_page_classified-index-view .classified_entrylist_posted {
    color: #464646;
    font-family: robotoregular;
    font-size: 17px;
    margin-left:0px;
    vertical-align: top;position: relative; width:69%;float: right;}    


.timeline-profile-tabs .title-n-options {
    padding-left: 125px !important;
}
.following_txt {
    border-radius: 5px;
    border: 1px solid #f0f0ef;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 8px;
    margin-right: 4px;
}

.option-buttons .smoothbox.show_friends.proj_share.wp_init {
    background-color: #2ab9b7;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin-right: 1px;
    padding: 5px 9px;
    vertical-align: middle;
}

.he-btn { padding: 3px 5px;}


body#global_page_communityad-index-index #global_content h2.heading, body#global_page_communityad-index-edit #global_content h2.heading, body#global_page_communityad-index-create h2.heading {
    border-bottom: 1px solid #fb933c;
    color: #4c5153;
    display: inline-block;
    font-family: robotoregular;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 10px 9px;
}


.login_container form#user_form_login .form-elements {
    width: 100%;
}

.login_container form#user_form_login .form-elements #submit_login-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.forgot_container form#user_form_auth_forgot .form-elements #forgot_button-wrapper {
    display: inline-block;
    width:21%;
}


.forgot_container form#user_form_auth_forgot .form-elements #email-element input#email {
    border: 0 none;
    border-radius: 3px;
    height: 40px;
    padding: 2%;
    width: 100%;
    font-size: 14px;
}

.forgot_container form#user_form_auth_forgot .form-elements #email-wrapper {
    float: left;
    margin-right: 5px;
    width: 71%;
}


    

body#global_page_user-index-casting .browsemembers_criteria li, body#global_page_user-index-services .browsemembers_criteria li {
    width: 100%;
    margin-bottom: 10px;
}

body#global_page_user-index-browse ul.row_start.talent_start li {
    width: 46%;
}


.login_container form#user_form_login .form-elements #password-wrapper {
    display: block;
    float: left;
    margin-right: 6px;
    width: 100%;
}

.custom_log_sec {
    padding: 77px 12px;
}

.signup_container .custom_log_sec.custom_singup_frm form#signupform {margin: 0 auto;width: 95%;}

#recaptcha_widget_div * {
    text-align: left;
    direction: ltr;
}
.inner_comdata {
    margin: 0px;
    padding: 0px 7px !important;
    background: transparent none repeat scroll 0 0 !important;
}

body#global_page_communityad-index-index .contentblock_right_inner_btn {width: 78% !important;}


.white_content {
    display: none;
    position: fixed;
    top: 15%!important;
    left: 9%!important;
    width: 80% !important;
    padding: 16px;
    border: 8px solid #444;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}


body#global_page_core-pages-events #global_content h2 {
    color: #3faee8;
    font-family: robotoregular;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 5px 0px;
    text-transform: capitalize;
}

body#global_page_album-album-edit #buttons-wrapper {
    margin: 0 auto;
    width: 45%;
    display: inline-block;
}


body#global_page_messages-messages-inbox button#delete {  padding: 6px 6px !important;}
 body#global_page_messages-messages-inbox button#read { padding: 6px 6px !important;}
 body#global_page_messages-messages-inbox button#unread { padding: 6px 6px !important;}
 
 #signinerror {
    background: rgba(255, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 0px;
    color: #fff;
    font-family: robotoregular;
    font-size: 13px;
    height: 26px;
    left:88px !important;
    line-height: 4px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 52%;
}

body#global_page_messages-messages-view .generic_layout_container.layout_core_content {
    clear: both;
    padding: 0 10px;
}

body#global_page_classified-index-edit .form-elements {
    padding: 0 0px;
}

body#global_page_classified-index-edit form.classifieds_browse_filters button#execute {
    background-color: #3faee8;
    border: 0 none;
    border-radius: 5px;
    margin: 0;
    padding: 10px 15px;
    margin-left: 0px;
}


.headline > h2 {
    margin-top: 10px;
    padding-bottom: 3px;
    font-size:18px;
}

 

.ynfeed_advcomment .yncomment_comment_box {
    padding: 10px 1px;
    border-width: 2px;
    width: 85% !important;
}


body#global_page_user-index-browse .layout_left div.browsemembers_criteria ul li {
    width: 24.2% !important;
    padding-right: 0% !important;
}




ul.classifieds_browse .classifieds_browse_photo {
    float: left;
    overflow: hidden;
    margin-right: 8px;
    width:100% !important;
}


body#global_page_classified-application-va .classifieds_browse_info_c {
    float: left;
    padding-right:0px;
    width:100%; margin-top:15px;
}

body#global_page_classified-application-va .classifieds_browse_actions {float: left; width:97%; margin-top:15px;}
body#global_page_communityad-display-adboard #advertisment_content.layout_middle .caab_ad .caab_list {
    border-bottom: 1px solid #eee !important;
    display: inline-block;
    float: none !important;
    height: 250px;
    margin: 0 auto 10px 0px;
    vertical-align: top;
    width:100%;
}

body#global_page_communityad-display-adboard #advertisment_content.layout_middle .caab_ad .caab_list .cmaddis  .cmaddis_image {height: 160px;    width: 100% !important;}

div.cmad_hr_link {
    clear: none;
    float: right !important;
    display: inline-block;
    margin-top: 2px;
}

    .project_socials .proj_delete {
    background-image: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; margin-top:10px;}


div.white_content.evnt_pop_sec input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    height: 29px !Important;
    line-height: 21px !important;
    padding: 5px 6px;
    width: 365px;
}
.white_content.evnt_pop_sec form#parent_form {
    padding: 2px 0 !important;
}

.white_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    padding: 9px !important;
    border: 8px solid #444;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}


}





@media screen and (max-width :320px)
{

.allads { position:absolute; bottom:-175px; left:0;} 



a.paj {
    color: #777 !important;
    display: block;
    font-size: 12px;
   }



.tabs > ul li {
    padding: 0 2px !important;
    float: none;
}

.heading {
    font-family: robotomedium;
    font-size: 35px;
    color: #fb933c;
    text-transform: uppercase;
    border-bottom: 1px solid;
    display: inline-block;
    font-weight: bold;
    width: 100%;
}


body#global_page_album-index-upload .form-elements {
    padding: 0 10px;
}

.layout_page_classified_job_search .browsemembers_criteria ul li {
    display: inline-block;
    margin-right: 0px;
    width: 100%;
    vertical-align: top;
    margin-top: 8px;
    overflow: visible;
}

ul.videos_manage .video_options {
    float: none;
    overflow: hidden;
    padding-left: 12px;
    width: 47%;
}

ul.albums_manage .albums_manage_options {
    float: none !important;
    overflow: hidden;
    padding-left: 0px;
}
.user_views_followers .friend_request {
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 4px 3px;
    width:auto; line-height:16px;}
    
    
    
 .user_views_followers .friend_request a.buttonlink {
    font-size: 11px !important;
    line-height: 16px;
    vertical-align: top;
    color:#4c5153 !important;
    font-weight:500;
    padding-left:0px !important; padding-bottom:0;}
    
.views .view_title, .followers .view_title {
    font-size: 11px;
    line-height: normal;
    vertical-align: top;
}   



.inbox-search { width:200px !important; margin:5px 0;}
 
 
 #profile_options a.tft {
    color: #ccc;
    font-size: 25px;
    position: absolute;
    right: -5px;
    top: -32px;
}
 
.user_views_followers {
    background: rgba(4, 4, 4, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    position: absolute;
    right:0px;
    top: 300px;
    width:auto;
}


.headline > h2 {
    margin-top: 10px;
    padding-bottom: 3px;
    font-size:16px;
}


.user_views_followers .views{
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 4px;
    width: 35px; line-height:14px;}
    
.followers .view_title {
    font-size: 11px;
    line-height: normal;
    vertical-align: top;
}

#signinerror {
    background: rgba(255, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 0px;
    color: #fff;
    font-family: robotoregular;
    font-size: 13px;
    height: 26px;
    left: 65px !important;
    line-height: 4px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 61%;
}
form.global_form ul.form-errors
{   
    left:12%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 330px;
    width: 75%;
}

 

body#global_page_user-edit-profile .fancybox-wrap {
    width: 270px !important;
}


ul.footer-nav li:first-child { border-left:none; padding:0 6px 0 0;}
ul.footer-nav li {padding:0px 8px; margin:15px 0px; float:left; list-style:none;  border-left: solid 1px #333333;}


#\31 _1_435-wrapper {
    width: 18% !important;
    float: left;
    clear: none !important;
    margin-left: 0% !important;
    margin-right: 5% !important;
}


#\31 _1_69-wrapper {
    width: 77% !important;
    float: left;
    clear: none !important;
}

/*.edu_rem {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 207px;
    top: -22px;
    vertical-align: top;
    width: 70px;
}*/


.edit_input_list {
    color: #969696;
    cursor: pointer;
    font-size: 12px;
    padding-left: 20px;
    position: absolute;
    right: 150px;
    top: -22px;
    width: 46px;
}


}


