<div class="headline">
  <h2>
      <?php echo $this->translate('Invite');?>
  </h2>
  <div class="tabs">
    <?php
      // Render the menu
        echo $this->navigation()
        ->menu()
        ->setContainer($this->quickNavigation)
        ->render();
		
    ?>
  </div>
</div>

