<?php

/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Timeline
 * @copyright  Copyright Hire-Experts LLC
 * @license    http://www.hire-experts.com
 * @version    $Id: index.tpl 2012-02-01 16:58:20 mt.uulu $
 * @author     Mirlan
 */

?>
<style type="text/css">
 .wall-compose-user-activator{display:none !important;}
 
</style>
<script>
  function getSmile(links)
  {
    if($('wall_comment_smile')){
      var elem = document.getElementById("wall_comment_smile");
      elem.parentNode.removeChild(elem);
    }
    $$('body')[0].addEvent('click', function(e){
      if(!e.target.getParent('#wall_comment_smile') && !e.target.getParent('#smile_composer_comment-element') ){
        hideSmile();
      }
    });
    var  smiles = <?php echo $this->wallSmiles()->getJson()?>;
    var link = links;
    var container = new Element('div', {'class': 'wall-smile-container','id':'wall_comment_smile', 'html': '<div class="wall_data_comment"></div>'});
    container = injectAbsoluteCommentSmile(link, container, true);

    var arrow = new Element('div', {'class': 'wall_arrow_container', 'html': '<div class="wall_arrow"></div>'});
    arrow.inject(container, 'top');

    var ul = new Element('ul');

    for (var i=0;i<smiles.length; i++){
      var item = smiles[i];
      var a = new Element('a', {'title': item.title, 'href': 'javascript:void(0)', 'html': item.html, 'rev': item.index_tag});
      var li = new Element('li', {});
      a.inject(li);
      li.inject(ul);

      a.addEvent('click', function (){
        var body_in = link.getParent('form').getChildren('#body')[0].value;
        link.getParent('form').getChildren('#body')[0].value = body_in+' '+$(this).get('rev')+' ';
        link.getParent('form').getChildren('#submit')[0].setStyle('display', 'block');
        hideSmile();
      });
    }

    ul.inject(container.getElement('.wall_data_comment'));
  };


  function hideSmile(){
    if($('wall_comment_smile')){
      var elem = document.getElementById("wall_comment_smile");
      elem.parentNode.removeChild(elem);

    }
  }
  function injectAbsoluteCommentSmile(element, container) {
    element = $(element);
    container = $(container);

    if ($type(element) != 'element' || $type(container) != 'element') {
      return;
    }

    var build = function () {
      var pos = element.getCoordinates();

      container
        .setStyle('position', 'absolute')
        .setStyle('top', pos.top + pos.height)
        .setStyle('right', ($$('body')[0].getCoordinates().width - pos.left - pos.width) - 15);

    };

    container.inject(Wall.externalDiv(), 'bottom');
    build();

    return container;

  };
  function select_file_comment(id){
    if(id && id.toInt()>0){

      var file_button = $('photo_comment_'+id);
      if(file_button){
        file_button.click();
      }
    }
  }
  function deleteImage(id){
    var photo_id = 0;
    var container = $('comment_attach_preview_image_wall'+id);
    if(container) {
      photo_id = container.getChildren('a').get('href')[0].split('/').pop();
    }
    if(!photo_id){
      return;
    }
    if (window.load_image_deletes_comment == 1) {
      return;
    }
    var loading = $('comment_attach_loading_wall'+id);
    loading.setStyle('display','block');
    container.setStyle('display', 'none');
    window.load_image_deletes_comment = 1;
    var req = new Request({
      method: 'get',
      url: en4.core.baseUrl +'wall/index/album',
      data: {
        'do': '1',
        'photos_id_del': photo_id
      },
      onComplete: function (response) {
        container.set('html','');
        loading.setStyle('display','none');
        $('select_photo_'+id).setStyle('display','block');
        if($('photo_comment_'+id)) $('photo_comment_'+id).value = '';
        window.load_image_deletes_comment = 0;
      }
    }).send();
  }
</script>
<?php if (!empty($this->feedOnly) && empty($this->checkUpdate)): // ajax?>

<?php echo $this->wallActivityLoop($this->activity, array(
        'action_id' => $this->action_id,
        'viewAllComments' => $this->viewAllComments,
        'viewAllLikes' => $this->viewAllLikes,
        'comment_pagination' => $this->comment_pagination,
        'timelineData' => $this->timelineData,
        'module' => 'timeline'
    ));?>

<?php if ($this->lastid && !$this->endOfFeed): ?>

    <li class="utility-viewall sep active <?php echo $this->lastdate; ?>">
        <div class="pagination">
            <a href="javascript:void(0);"
               rev="nextid<?php echo $this->lastid?>|nextdate<?php echo $this->lastdate?>"><?php echo $this->translate('View More')?></a>
        </div>
        <div class="loader" style="display: none;">
        <span>
        <div class="wall_icon"></div>
        <div class="text"><?php echo $this->translate('Loading ...')?></div>
        </span>
        </div>
    </li>

    <?php elseif ($this->showBorn): ?>

    <script type="text/javascript">
        timeline.scroller.lifeEvent('born', true);
    </script>

    <?php endif; ?>

<?php if ($this->firstid): ?>
    <li class="utility-setlast wall_displaynone"
        rev="item_<?php echo sprintf('%d|%s', $this->firstid, $this->firstdate); ?>"></li>
    <?php endif; ?>

<?php return; ?>

<?php endif; ?>

<?php if (!empty($this->checkUpdate)): ?>
<?php if ($this->activityCount): ?>

    <li class="utility-getlast">

        <script type='text/javascript'>
            Wall.activityCount(<?php echo $this->activityCount?>);
        </script>

        <div class='tip'>
        <span>
          <a href='javascript:void(0);' class="link">
              <?php echo $this->translate(array(
                  '%d new update is available - click this to show it.',
                  '%d new updates are available - click this to show them.',
                  $this->activityCount),
              $this->activityCount)?>
          </a>
        </span>
        </div>

    </li>

    <?php return; ?>


    <?php endif; ?>
<?php return; ?>

<?php endif; ?>

<?php
echo $this->render('application/modules/Timeline/views/scripts/_wallHeader.tpl');
?>

<script type="text/javascript">
    Wall.runonce.add(function () {
        var feed = new Wall.Feed({
            feed_uid:'<?php echo $this->feed_uid?>',
            enableComposer: <?php echo ($this->enableComposer) ? 1 : 0?>,
            url_wall:'<?php echo $this->url(array('module' => 'core', 'controller' => 'widget', 'action' => 'index', 'name' => 'timeline.feed'), 'default', true) ?>',
            last_id: <?php echo sprintf('%d', $this->firstid) ?>,
            last_date:'<?php echo $this->firstdate; ?>',
            subject_guid:'<?php echo $this->subjectGuid ?>'
        });

        feed.compose.is_timeline = (Boolean)(<?php echo (int)$this->composerOnly; ?>);
        feed.params = <?php echo $this->jsonInline($this->list_params);?>;

    <?php if (!$this->composerOnly && empty($this->action_id)): ?>

        <?php if ($this->updateSettings): ?>

            feed.watcher = new Wall.UpdateHandler({
                baseUrl:en4.core.baseUrl,
                basePath:en4.core.basePath,
                identity:4,
                delay: <?php echo $this->updateSettings;?>,
                last_id: <?php echo sprintf('%d', $this->firstid) ?>,
                last_date:'<?php echo $this->firstdate ?>',
                subject_guid:'<?php echo $this->subjectGuid ?>',
                feed_uid:'<?php echo $this->feed_uid?>'
            });

            try {
                setTimeout(function () {
                    feed.watcher.start();
                }, 5000);
            } catch (e) {
            }

            <?php endif; ?>

        <?php else: ?>

        var tab_link = $$('.tab_layout_wall_feed')[0];
        if (tab_link && tabContainerSwitch) {
            tabContainerSwitch(tab_link, 'generic_layout_container layout_wall_feed');
        }

        <?php endif;?>

    });
</script>





<div class="wallFeed" id="<?php echo $this->feed_uid?>">


<?php

$tabs = Engine_Api::_()->wall()->getManifestType('wall_tabs');


// show only feed

if ($this->subject || !$this->viewer()->getIdentity()) {

    $tab_disabled = array_diff(array_keys($tabs), array('social'));
    $tab_default = 'social';


    // show tabs

} else {

    $tab_disabled = explode(',', Engine_Api::_()->getDbTable('settings', 'core')->getSetting('wall.tab.disabled'));
    $tab_default = Engine_Api::_()->getDbTable('settings', 'core')->getSetting('wall.tab.default', 'social');

}


?>


<?php if ($this->viewer()->getIdentity() && !$this->subject): ?>

<div class="wall-stream-header">
    <ul class="wall-stream-types">

        <?php foreach ($tabs as $tab => $value): ?>

        <?php
        if (in_array($tab, $tab_disabled)) {
            continue;
        }
        if (in_array($tab, Engine_Api::_()->wall()->getManifestType('wall_service', true))) {
            $class = Engine_Api::_()->wall()->getServiceClass($tab);
            if (!$class || !$class->isActiveStream()) {
                continue;
            }
        }
        ?>

        <li>
            <a href="javascript:void(0);"
               class="<?php if ($tab == $tab_default): ?>is_active<?php endif;?> wall-stream-type wall-stream-type-<?php echo $tab;?> wall_blurlink <?php if ($tab != 'welcome' && $tab != 'social'): ?>wall_notitle wall_tips<?php endif;?>"
               rev="<?php echo $tab;?>" <?php if ($tab != 'welcome' && $tab != 'social'): ?>title="<?php echo $this->translate('WALL_STREAM_' . strtoupper($tab));?>"<?php endif;?>>
            <span class="wall_link_text">
              <span class="wall_icon">&nbsp;</span>
              <span class="wall_title"><?php echo $this->translate('WALL_STREAM_' . strtoupper($tab));?></span>
            </span>
                <span class="wall_new_update_count">&nbsp;</span>
            </a>
        </li>
        <?php endforeach;?>


    </ul>


    <ul class="wall-stream-options">

        <?php if (!in_array('welcome', $tab_disabled)): ?>
        <li
            class="wall-stream-option wall-stream-option-welcome <?php if ($tab_default == 'welcome'): ?>is_active<?php endif;?>">
        </li>
        <?php endif;?>

        <?php if (!in_array('social', $tab_disabled)): ?>
        <li
            class="wall-stream-option wall-stream-option-social <?php if ($tab_default == 'social'): ?>is_active<?php endif;?>">

            <div class="wall-lists">
                <?php echo $this->partial('_activeList.tpl', 'wall', array(
                'list_params' => $this->list_params,
                'types' => $this->types,
                'lists' => $this->lists,
                'friendlists' => $this->friendlists
            ))?>
                <ul class="wall-types">
                    <?php echo $this->partial('_list.tpl', 'wall', array(
                    'list_params' => $this->list_params,
                    'types' => $this->types,
                    'lists' => $this->lists,
                    'friendlists' => $this->friendlists
                ))?>
                </ul>
            </div>

        </li>

        <?php endif;?>

        <?php
        // or js inject
        ?>

        <?php if (!in_array('facebook', $tab_disabled)): ?>
        <li class="wall-stream-option wall-stream-option-facebook">

            <ul class="wall-options">
                <li>
                    <a href="javascript:void(0);" class="wall-button-icon wall_blurlink wall_tips"
                       title="<?php echo $this->translate("WALL_REFRESH")?>">
                        <span class="wall_icon wall-refresh"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:Wall.services.get('facebook').logout();"
                       class="wall-button-icon wall_blurlink wall_tips"
                       title="<?php echo $this->translate("WALL_SERVICE_LOGOUT")?>">
                        <span class="wall_icon wall-logout"></span>
                        &nbsp;
                    </a>
                </li>
            </ul>

        </li>
        <?php endif;?>

        <?php if (!in_array('twitter', $tab_disabled)): ?>
        <li class="wall-stream-option wall-stream-option-twitter">

            <ul class="wall-options">
                <li>
                    <a href="javascript:void(0);" class="wall-button-icon wall_blurlink wall_tips"
                       title="<?php echo $this->translate("WALL_REFRESH")?>">
                        <span class="wall_icon wall-refresh"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:Wall.services.get('twitter').logout();"
                       class="wall-button-icon wall_blurlink wall_tips"
                       title="<?php echo $this->translate("WALL_SERVICE_LOGOUT")?>">
                        <span class="wall_icon wall-logout"></span>
                        &nbsp;
                    </a>
                </li>
            </ul>

        </li>
        <?php endif;?>

    </ul>
</div>

    <?php endif;?>

<div class="wall-streams">

<?php if (!in_array('welcome', $tab_disabled)): ?>
<div class="wall-stream wall-stream-welcome <?php if ($tab_default == 'welcome'): ?>is_active<?php endif;?>">
    <?php echo $this->render('_welcome.tpl');?>
</div>
    <?php endif;?>

<?php if (!in_array('social', $tab_disabled)): ?>
<div class="wall-stream wall-stream-social <?php if ($tab_default == 'social'): ?>is_active<?php endif;?>">

    <?php if ($this->enableComposer): ?>
	<h3>What's New</h3>
    <div class="wallComposer wall-social-composer tli l">

        <form method="post" action="<?php echo $this->url()?>">

            <div class="wallComposerContainer">
                <div class="wallTextareaContainer">
                    <div class="inputBox">
                        <div class="labelBox is_active">
                            <span><?php echo "What's on your mind?";?></span>
                        </div>
                        <div class="textareaBox">
                            <div class="close"></div>
                            <textarea rows="1" cols="1" name="body"></textarea>
                            <input type="hidden" name="return_url" value="<?php echo $this->url() ?>"/>
                            <?php if ($this->viewer() && $this->subject() && !$this->viewer()->isSelf($this->subject())): ?>
                            <input type="hidden" name="subject" value="<?php echo $this->subject()->getGuid() ?>"/>
                            <?php endif; ?>
                        </div>
                    </div>
                   

                </div>
            </div>

            
			<div class="company-compose-menu">
        
            <div class="submitMenu">
            	 <div class="toolsBox"></div>
                <button type="submit" class="wall_composer_button">
                    &nbsp;&nbsp;&nbsp;<?php echo "Post"; ?>&nbsp;&nbsp;&nbsp;</button>

               

                <ul class="wallShareMenu">
                    <?php

                    if ($this->viewer()->getIdentity()) {

                        foreach (Engine_Api::_()->wall()->getManifestType('wall_service', true) as $service) {
                            $class = Engine_Api::_()->wall()->getServiceClass($service);
                            if (!$class || !$class->isActiveShare()) {
                                continue;
                            }
                            $a_class = 'wall-share-' . $service . ' wall_tips disabled';
                            $icon_class = 'hei hei-' . $service;

                            echo '<li class="service">
                        <a href="javascript:void(0);" class="' . $a_class . '" rev="' . $service . '" title="' . $this->translate('WALL_SHARE_' . strtoupper($service) . '') . '" style="text-decoration: none;">
                        <i class="' . $icon_class . '"></i></a>
                        <input type="hidden" name="share[' . $service . ']" class="share_input" value="0"/>
                      </li>';

                        }
                    }
                    ?>
                </ul>

            </div>
            
            <div class="wall-compose-tray"></div>
            </div>


            <?php foreach ($this->composePartials as $partial): ?>
            <?php echo $this->partial($partial[0], $partial[1], array(
                'feed_uid' => $this->feed_uid,
                'subject_uid' => $this->subject()->getIdentity()
            )) ?>
            <?php endforeach; ?>

        </form>
        <div class="arrow"></div>
        <div class="dot">
            <div></div>
        </div>
    </div>

    <?php endif;?>

    <ul class="wall-feed feed" id="activity-feed">
        <?php

        if (!$this->composerOnly): ?>
        <?php if ($this->activity): ?>
            <?php echo $this->wallActivityLoop($this->activity, array(
                'action_id' => $this->action_id,
                'viewAllComments' => $this->viewAllComments,
                'viewAllLikes' => $this->viewAllLikes,
                'comment_pagination' => $this->comment_pagination,
                'timelineData' => $this->timelineData,
                'module' => 'timeline',
            ))?>
            <?php endif;
            
            ?>

        <?php if ($this->lastid && !$this->endOfFeed): ?>
            <li class="utility-viewall sep active <?php echo $this->lastdate; ?>">
                <div class="pagination">
                    <a href="javascript:void(0);"
                       rev="nextid<?php echo $this->lastid?>|nextdate<?php echo $this->lastdate?>"><?php echo $this->translate('View More')?></a>
                </div>
                <div class="loader" style="display: none;">
                <span>
                <div class="wall_icon">&nbsp;</div>
                <div class="text"><?php echo $this->translate('Loading ...')?></div>
                </span>
                </div>
            </li>

            <?php elseif ($this->showBorn) : ?>

            <script type="text/javascript">
                Wall.runonce.add(function () {
                    timeline.scroller.lifeEvent('born', true);
                });
            </script>

            <?php endif; ?>

        <?php if (!$this->activity): ?>
            <li class="wall-empty-feed">
                <div class="tip">
                  <span>
                    <?php echo $this->translate("WALL_EMPTY_FEED") ?>
                  </span>
                </div>
            </li>
            <?php endif; ?>

        <?php if ($this->firstdate): ?>
            <li class="utility-setlast"
                rev="item_<?php echo sprintf('%d|%s', $this->firstid, $this->firstdate); ?>"></li>
            <?php endif; ?>
        <?php endif; ?>
    </ul>
</div>
    <?php endif;?>


<?php
if ($this->viewer()->getIdentity()) {

    foreach (Engine_Api::_()->wall()->getManifestType('wall_service', true) as $service) {

        if (in_array($service, $tab_disabled)) {
            continue;
        }

        $class = Engine_Api::_()->wall()->getServiceClass($service);

        if (!$class || !$class->isActiveStream()) {
            continue;
        }

        $tpl = $class->getFeedTpl();

        echo '<div class="wall-stream wall-stream-' . $service . '">
          <ul>
            <li class="wall-stream-tab-login wall-stream-tab">
              <div class="tip"><span>
              ' . $this->translate('WALL_STREAM_' . strtoupper($service) . '_LOGIN', array('<a href="javascript:void(0);" class="stream_login_link">', '</a>')) . '
              </span></div>
            </li>
            <li class="wall-stream-tab-loader wall-stream-tab"><div class="wall-loader"></div></li>
            <li class="wall-stream-tab-stream wall-stream-tab">';

        echo $this->partial(@$tpl['path'], @$tpl['module'], array('feed_uid' => $this->feed_uid));

        echo "</li></ul></div>";

    }

}
?>

</div>

</div>
