<?php $roles	=	$this->roles;?>
<?php if($roles){
		echo "<option value=''>Select</option>";
	foreach($roles as $role){
   		echo '<option value="'.$role['role_id'].'">'.$role['title'].'</option>'; 
   }
}else {
	echo "<option value=''>No options</option>";
}?>