<?php $unionmembership	=	$this->unionmemberships;?>
<?php if($unionmembership){
	foreach($unionmembership as $mem){?>
   		<div class="mem_box" id="mem_box_<?php echo $mem->unionmemberships_id;?>">
            <span class="edit_input_list" onclick="edit_mem('<?php echo $mem->unionmemberships_id;?>')">Edit</span>
            <div class="fields_data_center">
            <?php if($mem->unionmembership){?>
                      <span class="field_data_wrapper">
            <span class="field_data_label"><label>Membership</label></span>
            <span class="inst_data" id="mem_<?php echo $mem->unionmemberships_id;?>"><?php echo $mem->unionmembership;?></span>
            </span>
            <?php }?>
           
            </div>
           
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('mem').'/id/'.base64_encode($mem->unionmemberships_id);?>" class="mem_rem smoothbox" style="color:#969696 !important;">Delete</a>
        </div>
<?php }
}?>