<style type="text/css">
	button#submit
{
    width: 48%;
    padding: 10px 12px !important;
} 
a#cancel
{
	width: 40% !important;
}
</style>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/js/jquery.min.js"></script>
<script type="text/javascript">
  
  function reload_parent()
  {
 		 parent.Smoothbox.close();
  }
  


</script>

<span id="global_content_simple">
    

<form name="share_form" id="share_form" action="<?php echo $this->baseUrl().'/experience/index/remove/type/'.$this->type.'/id/'.$this->id;?>" method="post">
<?php 
if(base64_decode($this->type) == 'edu'){
	$deltype = 'education';
}else if(base64_decode($this->type) == 'exp'){
	$deltype = 'experience';
}elseif(base64_decode($this->type) == 'awd'){
	$deltype = 'award';
}

?>
<div><div><h3>Delete <?php echo $deltype;?></h3>
<p class="form-description">Are you sure you want to delete <?php echo $deltype;?>?  </p>
<div class="form-elements">
<div class="form-wrapper" id="buttons-wrapper"><div class="form-label" id="buttons-label">&nbsp;</div><div class="form-element" id="buttons-element"><div id="buttons-wrapper" class="form-wrapper"><fieldset id="fieldset-buttons">

<button type="submit" id="submit" name="submit" >Delete</button>
<a onclick="reload_parent();" href="javascript:void(0);" type="button" id="cancel" name="cancel">cancel</a></fieldset></div></div></div></div></div></div></form>  </span>