    <?php
    $project    =   $this->projects;
    if(isset($project[0])){
    $icheck=0;
    foreach($this->projects as $pro){
    $icheck++;?>
        <div class="pro_box" id="pro_box_<?php echo $pro->projects_id;?>">
            <span class="<?php if ($icheck <=1){ echo 'edit_input_list';} else {echo 'edit_input_list2';}?>" onclick="edit_pro('<?php echo $pro->projects_id;?>')">Edit</span>
            <div class="fields_data_center">
                <span class="field_data_wrapper">
    <span class="inst_data" id="desig_<?php echo $pro->projects_id;?>"><?php echo $pro->desig_name;?></span>
    <input type="hidden" name="desig_idh" class="desig_idh" id="desig_idh" value="<?php echo $pro->desig_id;?>">
                </span>
                <?php if($pro->project || $pro->client || $pro->year){?>
                
                    <?php  if($pro->project){?>
                    <span class="field_data_wrapper">
                        <span class="pro inst_data" id="exppro_<?php echo $pro->projects_id;?>">
                            <?php echo $pro->project;?>
                        </span>
                    </span> 
                    <?php }
                     if($pro->clientp){?>
                     <span class="field_data_wrapper">
                        <span class="inst_data" id="clintp_<?php echo $pro->projects_id;?>">
                            <?php echo $pro->clientp;?>
                        </span>
                    </span> 
            
                    <?php } if($pro->year){?>
                    <span class="field_data_wrapper">
                        <span class="year inst_data" id="expyear_<?php echo $pro->projects_id;?>">
                            <?php echo $pro->year;?>
                        </span>
                    </span> 
                    
                    <?php } if($pro->pastpexp){?>
                    <span class="field_data_wrapper">
                        <p class="inst_data" id="pastpexp_<?php echo nl2br($pro->projects_id);?>">
                            <?php echo $pro->pastpexp;?>
                        </p>
                    </span> 
                    <?php }?>
                
                <?php } ?>
            </div>
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('project').'/id/'.base64_encode($pro->projects_id);?>" class="<?php if ($icheck <=1){ echo 'edu_rem';} else {echo 'workexp_rem';}?> smoothbox">Delete</a>
        </div>
<?php }
}?>