    <?php
    $award  =   $this->awards;
    if(isset($award[0])){
    $icheck=0;
    foreach($this->awards as $awd){
    $icheck++;?>
        <div class="adw_box" id="awd_box_<?php echo $awd->award_id;?>">
            
                <span class="<?php if ($icheck <=1){ echo 'edit_input_list';} else {echo 'edit_input_list2';}?>" onclick="edit_awd('<?php echo $awd->award_id;?>')">Edit</span>
            <div class="fields_data_center">
              <?php if($awd->year){?>
            <span class="field_data_wrapper">
                <span class="inst_data" id="awrd_yr_<?php echo $awd->award_id;?>"><?php echo $awd->year;?></span>
            </span>
            <?php } ?>
                <span class="field_data_wrapper">
                <span class="inst_data" id="awrd_<?php echo $awd->award_id;?>"><?php echo $awd->award;?></span>
            </span> 
            <span class="field_data_wrapper">   
                <span class="inst_data" id="pro_<?php echo $awd->award_id;?>"><?php echo $awd->project;?></span>
            </span>
            <span class="field_data_wrapper">
                <span class="inst_data" id="awrd_cat_<?php echo $awd->award_id;?>"><?php echo $awd->category;?></span>
            </span>
            
            <span class="field_data_wrapper">   
                <span class="inst_data" id="pos_<?php echo $awd->award_id;?>"><?php echo $awd->position;?></span>
            </span>
            
          
            </div>  
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('awd').'/id/'.base64_encode($awd->award_id);?>" class="<?php if ($icheck <=1){ echo 'edu_rem';} else {echo 'workexp_rem';}?> smoothbox">Delete</a>
        </div>
<?php }
}?>