 <?php
    $professionalsummary  =   $this->professionalsummarys;
    if(isset($professionalsummary[0])){
    foreach($this->professionalsummarys as $sum){?>
        <div class="psum_box" id="psum_box_<?php echo $sum->professionalsummarys_id;?>">
            <span class="edit_input_list2" onclick="edit_mem('<?php echo $sum->professionalsummarys_id;?>')">Edit</span>
            <div class="fields_data_center">
            <?php if($sum->summary){?>
                      <span class="field_data_wrapper">
            <span class="inst_data psum" id="psum_<?php echo $sum->professionalsummarys_id;?>"><?php echo $sum->summary;?></span>
            </span>
            <?php }?>
           
            </div>
           
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('professionalsummary').'/id/'.base64_encode($sum->professionalsummarys_id);?>" class="workexp_rem smoothbox">Delete</a>
        </div>
<?php }
}?>