  <?php
    $membership  =   $this->unionmemberships;
    if(isset($membership[0])){
    $icheck=0;
    foreach($this->unionmemberships as $mem){ $icheck++;?>
        <div class="mem_box" id="mem_box_<?php echo $mem->unionmemberships_id;?>">
            <span class="<?php if ($icheck <=1){ echo 'edit_input_list';} else {echo 'edit_input_list2';}?>" onclick="edit_mem('<?php echo $mem->unionmemberships_id;?>')">Edit</span>
            <div class="fields_data_center">
            <?php if($mem->unionmembership){?>
                      <span class="field_data_wrapper">
            <span class="inst_data" id="mem_<?php echo $mem->unionmemberships_id;?>"><?php echo $mem->unionmembership;?></span>
            </span>
            <?php }?>
           
            </div>
           
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('mem').'/id/'.base64_encode($mem->unionmemberships_id);?>" class="<?php if ($icheck <=1){ echo 'edu_rem';} else {echo 'workexp_rem';}?> smoothbox">Delete</a>
        </div>
<?php }
}?>