   <?php
    $experience =   $this->experiences;
    if(isset($experience[0])){
    $icheck=0;
    foreach($this->experiences as $exp){
    $icheck++;?>
        <div class="exp_box" id="exp_box_<?php echo $exp->experience_id;?>">
            <span class="<?php if ($icheck <=1){ echo 'edit_input_list';} else {echo 'edit_input_list2';}?>" onclick="edit_exp('<?php echo $exp->experience_id;?>')">Edit</span>
            <div class="fields_data_center">
                <span class="field_data_wrapper">
    <span class="inst_data" id="rol_<?php echo $exp->experience_id;?>"><?php echo $exp->role_name;?></span>
    <input type="hidden" name="role_idh" class="role_idh" id="role_idh" value="<?php echo $exp->role_id;?>">

                </span>
                
                    <?php if($exp->fromyear){?>
                      <span class="field_data_wrapper shortrap">
                     <span class="year inst_data" id="expyearfrom_<?php echo $exp->experience_id;?>">
                            <?php echo $exp->fromyear;?>
                        </span>
                        </span>
                    <span class="field_data_wrapper shortrap">     
                    <span class="year inst_data" id="expyearto_<?php echo $exp->experience_id;?>">
                            <?php echo $exp->toyear;?>
                        </span>
                        
                    </span> 
                                
                    <?php } if($exp->client){?>
                  
                    <span class="field_data_wrapper">
                        <span class="inst_data" id="clnt_<?php echo $exp->experience_id;?>">
                            <?php echo $exp->client;?>
                        </span>
                    </span> 
                    <?php } if($exp->pastexp){?>
                    <span class="field_data_wrapper">
                        <p class="inst_data" id="pastexp_<?php echo nl2br($exp->experience_id);?>">
                            <?php echo $exp->pastexp;?>
                        </p>
                    </span> 
                    <?php }?>
            </div>
            <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('exp').'/id/'.base64_encode($exp->experience_id);?>" class="<?php if ($icheck <=1){ echo 'edu_rem';} else {echo 'workexp_rem';}?> smoothbox">Delete</a>
        </div>
<?php }
}?>