 <?php
        $workexp  =   $this->workexps;
        if(isset($workexp[0])){
        foreach($this->workexps as $workexp){?>
            <div class="workexp_box" id="workexp_box_<?php echo $workexp->workexps_id;?>">
                <span class="edit_input_list2" onclick="edit_workexp('<?php echo $workexp->workexps_id;?>')">Edit</span>
                <div class="fields_data_center">
                <?php if($workexp->workexp){?>
                          <span class="field_data_wrapper">
               
                <span class="inst_data" id="workexp_<?php echo $workexp->workexps_id;?>"><?php echo $workexp->workexp;?></span>
                </span>
                <?php }?>
               
                </div>
               
                <a href="<?php echo $this->baseUrl().'/experience/index/remove/type/'.base64_encode('workexp').'/id/'.base64_encode($workexp->workexps_id);?>" class="workexp_rem smoothbox" >Delete</a>
            </div>
        <?php }
        }?>