    <?php
      if($this->myfriends){
      foreach( $this->myfriends as $friends ):
        $friend = Engine_Api::_()->getItem('user', $friends['user_id']);
        ?>
        <li id="user_friend_<?php echo $friend->getIdentity() ?>">
		
        <?php $pic=Engine_Api::_()->getDbtable('users', 'user')->getUserProfilePicPath($friend->getIdentity());
if($pic == '')$pic	=	$this->baseUrl().'/application/modules/User/externals/images/nophoto_user_thumb_profile.png';
 ?>
        
        <div id='friend_photo' style="background-image:url(<?php echo $pic; ?>);margin:0 auto;" class="wall_background set_friend">

</div>
      <div class='profile_friends_body_div text-center'>
            <?php echo $this->htmlLink($friend->getHref(), $friend->getTitle()) ?>
          
      </div>
      
      <div class='profile_friends_options_div text-center'>
        <?php echo $this->userFriendship($friend) ?>
      </div>

    </li>
      <?php endforeach;
      } ?>
<?php 
echo '**';
$page	=	$this->page;
echo $page+30;
?>