 <?php if($this->users){
        $i=1;
foreach($this->users as $user){
$talentpic  = Engine_Api::_()->getDbtable('users', 'user')->getUserProfilePicPath($user->shortlist_user_id);
$talentpic  = ($talentpic=='')?'application/modules/User/externals/images/nophoto_user_thumb_profile.png':$talentpic;

$userating=Engine_Api::_()->getDbtable('reviews', 'user')->getAVGuserrating($user->shortlist_user_id);
        ?>
       <li>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 member_list_item">
          <div class="member_list_item_area">
            <div class="col-xs-12 padrgtnone text-right">
              <i class="fa fa-eye" aria-hidden="true"></i> <?php echo $user->view_count;?>
            </div>
            <img src="<?php echo $talentpic;?>" class="img-responsive member_img">
            <div class="_member_list_item_title">
            <a href="/profile/<?php echo $user->shortlist_user_id;?>" title=""> <?php echo $user->displayname;?></a></div>
            <div class="_member_list_item_subtitle"><?php echo $userdesig=Engine_Api::_()->getDbtable('dasignatedcategories', 'user')->userDasignatedcategoriesSearch($user->shortlist_user_id); 
            ?></div>
            <div class="_member_list_item_detials">
              <div class="_member_list_item_action">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left padlftnone _member_list_item_action_btns">
                  <a href="#" title=""><i class="fa fa-heart" aria-hidden="true"></i></a>
                  <a href="#" title=""><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                  <a href="<?php echo $this->baseUrl().'/members/friends/removeshortlist/user_id/'.$user->shortlist_user_id.'?q=shortlist';?>" class="smoothbox"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right padrgtnone">
                  <div class="_member_list_item_review">
                    <span>
                      <?php for($x=1;$x<=$userating;$x++) {?>
                          <i class="fa fa-star" aria-hidden="true"></i>
                <?php } 
                if ((int) $userating != $userating) {  ?>
                         <i class="fa fa-star-half" aria-hidden="true"></i>
                 <?php }
                     if($x !=1) { while ($x<=5) { ?>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                  <?php $x++; } }?>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </li>
        <?php $i++;}
        if($i==1){
        	echo '<li>No Member Found.</li>';
        }
    }?>
<?php 
echo '**';
$page	=	$this->page;
echo $page+20;
?>