 <?php if($this->users){
        $i=1;?>
    	<!-- <li class="job_total_count">
         <label name="jobcount" style="font-size: 14px; float: left;" id="jobcount">Total <span id="job_count"><?php echo count($this->users);?></span> members</label>
        </li> -->
       <?php foreach($this->users as $user){
       $userating= $user['avgrating'];
        //echo '<pre>';print_r($user);?>
            <li>
            <div class="job_box">
                <div class="job_lft_box">
                    <?php 
                       $userpic =   Engine_Api::_()->getDbtable('users', 'user')->getUserProfilePicPath($user['user_id']); 
                       $userpic =   ($userpic=='')?'application/modules/User/externals/images/nophoto_user_thumb_profile.png':$userpic;
                        $user = Engine_Api::_()->getItem('user', $user['user_id']);
                        $link = $user->getHref().'?q=services';
                    ?>
                    <a href="<?php echo $link;?>" style="cursor:pointer;">
                    <!-- <span style="background-image:url(<?php echo $userpic;?>);" class="search_user_profile"></span>  -->
                    <img src="<?php echo $userpic;?>">   
                    </a>

                </div>
                
                <div class="job_rgt_box">
                    
                    <h3 class="job_title">
                    <a href="<?php echo $link;?>">
                        <?php
                        $fname =  Engine_Api::_()->getDbtable('users', 'user')->getUserFirstName($user['user_id']); 
                        echo ($fname)?$fname:$user->getTitle();?>
                        
                        <span><?php
                        $lname =  Engine_Api::_()->getDbtable('users', 'user')->getUserLastName($user['user_id']); 
                        echo ($lname)?$lname:$user->getTitle();?>
                        </span>
                    </a>
                    <div class="_member_list_item_review">
                        <span>
                             <?php 
                             //$userating=Engine_Api::_()->getDbtable('reviews', 'user')->getAVGuserrating($user['user_id']); 
                             for($x=1;$x<=$userating;$x++) {?>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <?php } 
                            if ((int) $userating != $userating) {  ?>
                                     <i class="fa fa-star-half" aria-hidden="true"></i>
                             <?php }
                                if($x !=1)
                                  {
                                    while ($x<=5) { ?>
                                      <i class="fa fa-star-o" aria-hidden="true"></i>
                              <?php $x++; }} ?>
                              
                        </span>
                    </div>
                    <div class=" padlftnone">
                     <i class="fa fa-eye" aria-hidden="true"></i>  <?php echo $user['view_count'];?>
                    </div>
                    </h3>
                    
                    <div class="_job_details">
                        <span class="_job_exp"><i class="fa fa-briefcase" aria-hidden="true"></i> <?php $expe=Engine_Api::_()->getDbtable('workexps', 'user')->getUseryrexp($user['user_id']);  
                        $exps=($expe < 2)?"Year":"Years";
                        echo $expe." ".$exps;?></span>
                        <span class="_job_loc"><i class="fa fa-map-marker" aria-hidden="true"></i> <?php echo $work_loc=Engine_Api::_()->getDbtable('users', 'user')->getUserycity($user['user_id']);  ?></span>
                    </div>
                    <div class="job_desc">
                    <?php echo $professionalsummary =  Engine_Api::_()->getDbtable('professionalsummarys', 'user')->getProfessionalsummarys($user['user_id']); 
                    ?>
                    </div>
                </div>
                <div class="_member_list_item_action">
                    <div class="padrgtnone">
                    <a href="#" title="Like"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    <a href="/members/friends/shortlist/user_id/<?php echo $user['user_id'];?>?q=" title="Shortlist"><i class="_addfolderr_icn" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            </li>
        <?php $i++;
        }
        if($i==1){
        	echo '<li>No Users Found.</li>';
        }
    }?>
<?php 
echo '**';
$page	=	$this->page;
echo $page+20;
?>