<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: _formEditImage.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>
<?php if( $this->subject()->wallphoto_id !== null ): ?>

  <?php
    $this->headScript()
      ->appendFile($this->layout()->staticBaseUrl . 'externals/moolasso/Lasso.js')
      ->appendFile($this->layout()->staticBaseUrl . 'externals/moolasso/Lasso.Crop.js')
  ?>
  <div>
    <?php 
    echo $this->itemPhoto($this->subject(), 'thumb.wallprofile', "", array('id' => 'lassoImg'), 'wall') ?>
  </div>
  <br />
  
  
  <div id="wallpreview-thumbnail" class="preview-thumbnail">
    <?php echo $this->itemPhoto($this->subject(), 'thumb.wallicon', "", array('id' => 'previewwallimage'), 'wall') ?>
  </div>
  <div id="wallthumbnail-controller" class="thumbnail-controller" style="display:none;">
    <?php /*?><?php if ($this->subject()->getPhotoUrl())
    echo '<a href="javascript:void(0);" onclick="walllassoStart();">'.$this->translate('Edit Thumbnail').'</a>';?><?php */?>
  </div>
  <script type="text/javascript">
    //var orginalThumbSrc;
//    var originalSize;
//    var loader = new Element('img',{ src: en4.core.staticBaseUrl + 'application/modules/Core/externals/images/loading.gif'});
//    var lassoCrop;
//    
//    var lassoWallSetCoords = function(coords)
//    {
//      var delta = (coords.w - 48) / coords.w;
//
//      $('coordinates').value =
//        coords.x + ':' + coords.y + ':' + coords.w + ':' + coords.h;
//      
//      $('previewwallimage').setStyles({
//        top : -( coords.y - (coords.y * delta) ),
//        left : -( coords.x - (coords.x * delta) ),
//        height : ( originalSize.y - (originalSize.y * delta) ),
//        width : ( originalSize.x - (originalSize.x * delta) )
//      });
//    }
//
//    var walllassoStart = function()
//    {
//      if( !orginalThumbSrc ) orginalThumbSrc = $('previewwallimage').src;
//      originalSize = $("lassoImg").getSize();
//      
//      lassoCrop = new Lasso.Crop('lassoImg', {
//  ratio : [1, 1],
//  preset : [10,10,58,58],
//  min : [48,48],
//  handleSize : 8,
//  opacity : .6,
//  color : '#7389AE',
//  border : '<?php echo $this->layout()->staticBaseUrl . 'externals/moolasso/crop.gif' ?>',
//  onResize : lassoWallSetCoords,
//        bgimage : ''
//      });
//
//      $('previewwallimage').src = $('lassoImg').src;
//      //$('preview-thumbnail').innerHTML = '<img id="previewimage" src="'+sourceImg+'"/>';
//      $('wallthumbnail-controller').innerHTML = '<a href="javascript:void(0);" onclick="lassoEnd();"><?php echo $this->translate('Apply Changes');?></a> <?php echo $this->translate('or');?> <a href="javascript:void(0);" onclick="lassoWallCancel();"><?php echo $this->translate('cancel');?></a>';
//      $('coordinates').value = 10 + ':' + 10 + ':' + 58+ ':' + 58;
//    }
//
//    var lassoEnd = function() {
//      $('wallthumbnail-controller').innerHTML = "<div><img class='loading_icon' src='application/modules/Core/externals/images/loading.gif'/><?php echo $this->translate('Loading...');?></div>";
//      lassoCrop.destroy();
//      $('EditPhoto').submit();
//    }
//
//    var lassoWallCancel = function() {
//      $('wallpreview-thumbnail').innerHTML = '<img id="previewwallimage" src="'+orginalThumbSrc+'"/>';
//      $('wallthumbnail-controller').innerHTML = '<a href="javascript:void(0);" onclick="lassoStart();"><?php echo $this->translate('Edit Thumbnail');?></a>';
//      $('coordinates').value = "";
//      lassoCrop.destroy();
//    }
    
    var uploadWallPhoto = function() {
      $('wallthumbnail-controller').innerHTML = "<div><img class='loading_icon' src='application/modules/Core/externals/images/loading.gif'/><?php echo $this->translate('Loading...')?></div>";
      $('EditWallPhoto').submit();
      $('WallFiledata-wrapper').innerHTML = "";
    }
  </script>

<?php endif; ?>