<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: add.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     Sami
 */
?>

<div>
User First Name : <?php echo $this->userfirstname; ?>
</div>
<div>
Username :<?php echo $this->username; ?>
</div>