/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width: 960px;
  theme_topbar_minimenu_width: 960px;
  theme_topbar_logo_width: 960px;
  theme_topbar_menu_width: 950px;
  theme_footer_width: 960px;
  theme_content_width: 960px;
  theme_content_columns_left_width: 190px;
  theme_content_columns_right_width: 190px;
  theme_box_padding: 0px;
  theme_body_background_color: #fff;
  theme_text_input_background_color: #F2F2F2;

  /* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: #e9f4fa;
  theme_topbar_menu_background_color: #79b4d4;
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: #fff;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: #fff;
  theme_topbar_menu_link_hover_decoration: underline;
  theme_topbar_menu_link_size: 1.3em;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_link_background_color_hover: transparent;
  theme_topbar_menu_border: 1px solid #89a4b3;
  theme_topbar_minimenu_background_color: #fff;
  theme_topbar_minimenu_border: 2px solid #d7e7f0;
  theme_topbar_minimenu_link_size: .7em;
  theme_topbar_minimenu_link_color: #576366;
  theme_topbar_minimenu_link_hover_color: #777;
  theme_topbar_minimenu_link_hover_decoration: none;
  theme_topbar_minimenu_link_hover_background_color: #d7e7f0;
  theme_topbar_border: 0px solid transparent;

  /* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family: arial, verdana, sans-serif;
  theme_font_size: 13px;
  theme_font_color: #4C5153;
  theme_font_color_light: #69706E;
  theme_text_align: left;
  theme_link_color: #398BCC;
  theme_link_color_hover: #1C3E47;
  theme_link_decoration: none;
  theme_link_decoration_hover: none;
  theme_headline_color: #717171;
  theme_headline_size_large: 1.5em;
  theme_headline_size_medium: 1.3em;

  /* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: #ccc;
  theme_border_light_color: #DDD;
  theme_border_medium_color: #DFDFDF;
  theme_border_dark_color: #bbb;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
  theme_foreground_border_color: #d0e2ec;
  theme_foreground_border_color_light: #d7e8f1;
  theme_foreground_background_color: #fff;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: #F0F0EF;
  theme_input_font_color: #555;
  theme_input_border_colors: #8E8E8E #E8E8E8 #E8E8E8 #8E8E8E;
  theme_button_background_color: #4e4e4e;
  theme_button_background_color_hover: #4787D0;
  theme_button_font_color: #fff;
  theme_button_border_color: #50809b;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: #ddd;
  theme_photo_border_color_hover: #aaa;

  /* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: #ddecf3;
  theme_form_background_color: #fff;
  theme_form_label_font_color: #777;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
  theme_buttontabs_font_color: #777;
  theme_buttontabs_font_color_hover: #555;
  theme_buttontabs_font_color_active: #fff;
  theme_buttontabs_background_color: #d4e5ee;
  theme_buttontabs_background_color_hover: #c9dde7;
  theme_buttontabs_background_color_active: #55677a;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color: #F8F8F8;
  theme_tabs_border_color: #D9D9D9;
  theme_tabs_border_color_hover: #D9D9D9;
  theme_tabs_font_color: #838e9a;
  theme_tabs_font_color_active: #555;
  theme_tabs_background_color_active: #fff;
  theme_tabs_background_color_hover: #fff;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: #fff;
  theme_list_background_color_alt: #f9f9f9;
  theme_list_background_color_hover: #eee;

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color: #d3e6ef;

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color: #D9D9D9;
  theme_pulldown_background_color_hover: #DEDEDE;
  theme_pulldown_background_color_active: #A1A1A1;
  theme_pulldown_font_color_active: #fff;
  theme_pulldown_border_color: #D2D2D2;
  theme_pulldown_contents_background_color: #F6F6F3;
  theme_pulldown_contents_background_color_alt: #FFF;
  theme_pulldown_contents_list_background_color_hover: #CBDBE8;
}











/* Global member photos and icons */
img.main
{
  max-width: 720px;
  max-height: 720px;
}
img.thumb_normal
{
  max-width: 140px;
  max-height: 160px;
}
img.thumb_profile
{
  max-width: 200px;
  max-height: 400px;
}
img.thumb_icon
{
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon
{
  border: 1px solid $theme_photo_border_color;
}





/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground
{
  background-color: $theme_foreground_background_color;
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded()
{
  
}

/* Prevents users from selecting contents */
=noselect
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}

.classifieds_browse_info_c{
 float: left;
    overflow: hidden;
}


