/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=OpenSans:400,700,900);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	/*background: #f2f2f2;*/
    font-family: 'OpenSans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

.header {
    min-height: 90px;
    padding: 0 15px;
	background:#fff;
	position:relative !important;
}