@charset "utf-8";
/* CSS Document */

@include "constants.css";
@include "~/application/modules/Core/externals/styles/main.css";
@include "~/application/modules/Core/externals/styles/main_home.css";
@scan "application/modules" "externals/styles/main.css" "Core";
@scan "application/modules" "externals/styles/main_home.css" "Core";

html
{
  min-height: 100%;
  margin-bottom: 1px;
  overflow-y: scroll;
}
body
{
 /*  background: url(~/application/themes/snowbot/images/body_bg.png) #F0F0F0 repeat-x top;
  overflow-x: hidden; */
    overflow-x: hidden;
  /*background: #c0c0c0 none repeat scroll 0 0 !important;*/
}

*
{
  padding: 0;
  margin: 0;
  font-family: $theme_font_family;
}
img
{
  border: none;
}
br
{
  clear: both;
}
ul
{
  list-style-type: none;
  margin: 0px;
}
div,
td
{
  font-size: $theme_font_size;
  color: $theme_font_color;
  text-align: $theme_text_align;
}
a:link,
a:visited
{
  color: $theme_link_color;
  text-decoration: $theme_link_decoration;
  font-weight: bold; text-transform:capitalize;
}

a:hover {
    
    text-decoration: underline !important;
}

/* a:hover
{
  color: $theme_link_color_hover;
  text-decoration: $theme_link_decoration_hover;
} */

/*
GENERAL LAYOUT
*/
#global_wrapper
{
  text-align: center;
  padding-top: 13px;
}

#global_content
{
  width: $theme_content_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
  min-height: 500px;
}

.layout_left
{
  float: left;
  width: $theme_content_columns_left_width;
  padding: 0px 15px 15px 2px;
  vertical-align: top;
}

.layout_middle
{
  overflow: hidden;
}

.layout_main > .layout_middle,
#global_content > .layout_middle
{
  overflow: hidden;
  padding: 0px 0px 15px 0px;
  vertical-align: top;
  background-color: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  margin: 0px 0px 15px 0px;
  padding: $theme_box_padding;
}

.layout_middle > ul
{
  padding: 12px;
}

.layout_right
{
  float: right;
  width: $theme_content_columns_right_width;
  padding: 0px 2px 10px 14px;
  vertical-align: top;
}

#global_wrapper
{
  text-align: center;
}

#global_content
{
  width: $theme_content_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
  min-height: 500px;
  padding-bottom:15px;
}
#global_content_simple
{
  display: inline-block;
}
#global_content > div > div > div.layout_left > .generic_layout_container,
#global_content > div > div > div.layout_right> .generic_layout_container
{
  padding: $theme_box_padding;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  background-color: $theme_foreground_background_color;
}
.generic_layout_container.layout_main,
.generic_layout_container.layout_left,
.generic_layout_container.layout_right
{
  background-color: transparent;
}
.generic_layout_container > h3
{
  font-size: 1em;
  padding: 0px 10px;
  line-height: 29px;
  background: url(~/application/themes/snowbot/images/heading_bg.png) #F0F0F0 repeat-x top;
  text-shadow: 0px 1px 0px #fff;
  border-top: 1px solid #DEDEDE;
}
#activity-feed
{
  padding: 12px;
}
.layout_user_home_links
{
  margin-top:-15px;
  padding:5px 0px;
}
.headline > h2
{
  margin-top:10px;
  padding-bottom: 3px;
}
#global_content > h2
{
  margin: 10px 0px 15px 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
.notifications_layout > div > h3 {
  margin: 10px 0px 15px 0px;
  padding-bottom: 3px;
  border-bottom: 2px solid #BFD5CE;
}
/* #smoothbox_window #global_content_simple
{
  padding: 14px;
} */
#global_wrapper #global_content
{
  padding-top: 2px;
}


/*
SITE LOGO WIDGET
*/
.layout_core_menu_logo
{
  height:90px;
  margin:-35px auto 0;
  overflow:hidden;
  position:relative;
  text-align:left;
  width:960px;
}
.layout_core_menu_logo a {
  bottom:0;
  font-size:34px;
  font-weight:bold;
  letter-spacing:-2px;
  position:absolute;
  padding-bottom:8px;
}



/* Header */
.layout_page_header
{
  text-align: center;
  clear: both;
  padding-top: 0px;
}
.layout_page_header .layout_main
{
  width: 100%;
}


/* Footer */
.layout_page_footer
{
  clear: both;
  text-align: center;
  overflow: hidden;
}
.layout_page_footer .layout_main
{
  width: $theme_footer_width;
  border-top: 1px solid $theme_border_color;
  padding-top: 15px;
  margin: 0px auto 30px auto;
  text-align: left;
  overflow: hidden;
}
.layout_page_footer select
{
  font-size: .9em;
}
.layout_core_menu_footer
{
  color: $theme_font_color_light;
}


/*
MAIN MENU WIDGET
*/
.layout_core_menu_main
{
  width: 100%;
  overflow: hidden;
  clear: both;
  background: url(~/application/themes/snowbot/images/menu_bg.png) #7e7e7e repeat-x;
  min-height: 38px;
}
.layout_core_menu_main .navigation
{
  width: $theme_content_width;
  margin: 0px auto;
  overflow: hidden;
}
.layout_core_menu_main .navigation li
{
  float: left;
  list-style: none;
  margin-top: 1px;
  background: url(~/application/themes/snowbot/images/menu_bg_line.png) right top no-repeat;
}
.layout_core_menu_main .navigation li a
{
  display: block;
  padding: 0px 12px;
  line-height: 36px;
  font-size: 1em;
  color: #fff;
  text-shadow: 0px -1px 0px #868686;
}
.layout_core_menu_main .navigation li a:hover
{
  background-color: #686868;
  text-shadow: 0px -1px 0px #4D4D4D;
}
.layout_core_menu_main .navigation li:first-child
{
  border-left: 1px solid #979797;
}


/*
MINI MENU
*/
.layout_core_menu_mini
{
  height:35px;
  margin:0 auto;
  position:relative;
  width:960px;
  z-index: 99;
}
.layout_core_menu_mini #core_menu_mini_menu
{
  position: absolute;
  right: 0px;
  top: 55px;
}
.layout_core_menu_mini #core_menu_mini_menu ul
{
  float: right;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li
{
  float:left;
  margin-left: 15px;
}

.layout_core_menu_mini #core_menu_mini_menu > ul > li > a
{
  display: block;
  line-height: 22px;
  color: $theme_topbar_minimenu_link_color;
}

.layout_core_menu_mini #core_menu_mini_menu > ul > li > a:hover
{
  text-decoration: underline;
}

/*
GLOBAL SEARCH
*/
#core_menu_mini_menu #global_search_form_container
{
  background: url(~/application/themes/bamboo/images/search_icon.png) no-repeat 0px 5px;
  margin-left: 15px;
}
#core_menu_mini_menu #global_search_form
{
  padding: 1px 0px 0px 1px;
  margin-left: 20px;
  border-top: 1px solid #7D7D7D;
  border-left: 1px solid #747473;
  background-color: #CACACA;
}
#core_menu_mini_menu #global_search_field
{
  width: 140px;
  font-size: 1.1em;
  border: none;
  background-color: $theme_text_input_background_color;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  padding: 3px;
}
#core_menu_mini_menu .overTxtLabel
{
  padding-left: 2px;
  font-size: 1.1em;
  color: $theme_font_color_light;
}
.overTxtLabel
{
  color: $theme_font_color;
}


/*
GLOBAL FORM ELEMENTS
*/

a#cancel{text-transform:capitalize; background-color: #df0707; border-radius: 5px; color: #fff;min-width: 80px;padding: 8px 15px;}
a:hover
button
{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 7px;
  line-height:14px;
  font-weight: bold;
  background-color: $theme_button_background_color;
  color: $theme_button_font_color;
  background-image: url(~/application/themes/snowbot/images/button_bg.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
  margin: 4px 1px 3px 0px;
}



button:hover
{
  background-color: $theme_button_background_color_hover;
  background-image: none;
  cursor: pointer;
}



a.buttonlink
{
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 21px;
  padding-bottom:4px;
  font-weight: bold;
  display: inline-block;
  white-space: normal;
}
a.buttonlink_right
{
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 19px;
  font-weight: bold;
  display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],
input.text,
textarea
{
  border: 1px solid #000;
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: 4px;
  resize: none;
  font-size: 1em;
}
input[type=checkbox],
input[type=radio]
{
  border: none;
  padding: 0px;
  padding-top: 2px;
  margin: 2px 5px 0px 0px;
  width: auto;
  display: block;
  float: left;
  
}
input[type=checkbox] + label,
input[type=radio] + label
{
  display: block;
  cursor: pointer;
}
fieldset, #fieldset-buttons
{
  border-width:0 !important;
}
select
{
  padding: 1px;
  padding-left: 0px;
  margin-left:1px;
  font-size: 1em;
  color: $theme_font_color;
}


/*
GLOBAL NOTICES (OUTSIDE FORMS)
Used to show a message or notice with an icon on a page,
usually above content, not within a form.
*/
.tip
{
  overflow: hidden;
  clear: both;
  padding: 12px;
}
.tip > span
{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding: 6px;
  padding-left: 27px;
  background-color: #F9F2D0;
  float: left;
  background-image: url(~/application/modules/Core/externals/images/tip.png);
}



/*
GLOBAL FORM RESPONSES
Used to show feedback from form submissions, i.e.
error/result messages.
*/
ul.form-errors,
ul.form-notices
{
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
* + ul.form-errors,
* + ul.form-notices
{
  margin-top: 20px;
}
ul.form-errors > li,
ul.form-notices > li
{
  margin: 7px 5px 7px 5px;
  padding: 5px;
  padding-left: 32px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  float: left;
  clear: left;
  overflow: hidden;
}
ul.form-errors > li > b,
ul.form-notices > li > b
{
  text-transform: uppercase;
  font-size: .8em;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li
{
  font-size: .9em;
}
ul.form-errors > li {
  background-image: url(~/application/modules/Core/externals/images/error.png);
  background-color: #F9F2D0;
}
ul.form-notices > li {
  background-image: url(~/application/modules/Core/externals/images/notice.png);
  background-color: #e9faeb;
}


/*
LARGE BOX FORM
These styles are for large forms that are given an exclusive page.
They are not intended for smaller forms that are embedded elsewhere.
Examples: Signup form, member settings form, etc.
*/
/* form container */
.global_form
{
  clear: both;
  overflow: hidden;
}
/* external form border */
.global_form > div
{
  float: left;
  overflow: hidden;
  margin: 0px auto 0px auto;
  /* +shadow(0px,1px,2px,0px,rgba(1,1,1,.3)); */
  margin-bottom: 5px;
}
/* internal form border */
.global_form > div > div
{
  padding: 12px 12px 12px 12px;
  background-color: $theme_form_background_color;
}
/* form headline */
.global_form div.form-wrapper-heading
{
  font-weight: bold;
  border-bottom: 1px solid $theme_foreground_border_color_light;
  height: 1em;
  margin-bottom: 15px;
}
.global_form div.form-wrapper-heading > span
{
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 4px 6px 4px 0px;
  background: $theme_form_background_color;
}
.global_form div.form-wrapper + div.form-wrapper-heading,
{
  margin-top: 10px;
}
/* form instructions (after title) */
.global_form > div > div > h3 + p
{
  padding: 2px;
  margin-top: 2px;
  max-width: 550px;
}
/* add some space above form elements if title/instructions precede */
.global_form > div > div > h3 + div,
.global_form > div > div > h3 + p + div
{
  margin-top: 20px;
}
/* container for form label/element rows */
.global_form > div > div
{
  overflow: hidden;
}
/* container row for a label (left) and element (right) */
.global_form div.form-wrapper
{
  clear: both;
  overflow: hidden;
}
/* left-side element label container */
.global_form div.form-label
{
  width: 150px;
  text-align: right;
  padding: 4px 15px 0px 2px;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
  clear: left;
  font-size: .9em;
  font-weight: bold;
  color: $theme_form_label_font_color;
}
/* right-side form element container */
.global_form div.form-element
{
  min-width: 150px;
  max-width: 600px;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
  clear: none;
}
/* all paragraphs of text in the form */
.global_form div > p
{
  max-width: 450px;
  padding-bottom: 10px;
}
/* paragraphs of text that come after an input element */
.global_form div > input + p
{
  margin-top: 3px;
  font-size: .8em;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=email],
.global_form input[type=password]
{
  padding: 2px;
  width: 200px;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form input[type=text] + input[type=text]
{
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form input[type=checkbox],
.global_form input[type=radio]
{
  clear: left;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form input + label
{
  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 2px;
}
/* all select boxes in form */
.global_form select
{
  padding: 1px 1px 1px 0px;
  max-width: 250px;
}
/* all textareas in form */
.global_form textarea
{
  padding: 4px;
  max-width: 300px;
  min-height: 100px;
}
.global_form p.description
{
  margin: 3px 0px 10px 0px;
  padding: 0px;
}
.global_form #submit-element
{
  margin-bottom: 0px;
}
.global_form button[type=submit]
{
  margin-right: 3px;
}



/* 
Activity Feed
*/
.activity-post-container
{
  background: url(~/application/themes/snowbot/images/feed_post_bg.png) #d6d6d6 repeat-x;
  overflow: hidden;
  padding: 10px;
  margin: 12px 12px 0px 12px;
}
#activity-form
{
  padding: 0px;
}
#compose-menu
{
  background: url(~/application/themes/snowbot/images/body_bg.png) repeat-x;
  border: 1px solid #ccc;
  padding: 3px 5px 5px 7px;
}
#compose-tray
{
  background: url(~/application/themes/snowbot/images/body_bg.png) repeat-x;
  border: 1px solid #ccc;
  padding: 3px 5px 5px 7px;
  margin-top:10px;
}

#compose-container
{
  border: 1px solid #000;
  background-color: #fff;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: 2px;
  resize: none;
}
.compose-content
{
  background-color: #fff;
}
ul.feed > li + li
{
  padding: 10px 0px 20px 0px;
}
ul.feed > li {
  padding: 10px 0px 20px 0px;
  border-top: 1px solid $theme_border_light_color;
}
ul.feed > li:first-child{
  border-top: none !important;
}


/*
COMMENTS
These styles are used everywhere comments appear.
*/
.comments
{
  width: 360px;
  padding:0px 10px !important;
}
.comments > ul > li
{
  clear: both;
  overflow: hidden;
  
  padding:0px 0px 2px 0px;
}
.comments > ul > li:first-child
{
  margin-top: 15px;
}
.comments > ul > li:last-child
{
  border-bottom: none;
}
.feed_item_photo
{
  margin-right: 10px;
}
.comments_author_photo
{
  float: left;
  padding-right: 17px;
  background: url(~/application/themes/snowbot/images/quote_icon.png) right center no-repeat;
}
.comments form
{
  clear:both;
  overflow: hidden;
}
.comments form button
{
  margin-bottom: 10px;
  vertical-align: top;
}
.comments .comments_info
{
  font-size: .9em;
  padding: 10px;
  overflow: hidden;
  background-color: #EEE;
}
.comments .comments_date
{
  font-size: .9em;
  margin-top: 3px;
  color: $theme_font_color_light;
  overflow: hidden;
}
.comments .comments_date > li
{
  float: left;
}
.comments .comments_date > li.sep
{
  padding: 0px 3px 0px 3px;
}
html[dir="rtl"] .comments .comments_date > li
{
  float: right;
}
.comments .comments_likes {
  font-size: .9em;
  background-color: #EEE;
  padding: 5px 7px;
  margin-bottom: 10px;
}

.comments_options
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments_options + ul > li:first-child {
  margin: 0px;
}



/* TABS */
.tabs
{
  overflow: hidden;
  padding: 0px;
  margin-bottom: 14px;
  background: url(~/application/themes/snowbot/images/menu_bg_light.png) #adadad repeat-x;
}
.tabs > ul li
{
  float: left;
  overflow: hidden;
}
.tabs > ul li > a
{
  padding: .9em 1em;
  display: block;
  color: #4C4C4C;
  font-size: .9em;
  text-shadow: 0px 1px 0px #E0E0E0;
}
.tabs > ul li.active
{
  border-right: 1px solid #575757;
  border-top: 1px solid #666;
}
.tabs > ul li.active > a
{
  background-color:#767676;
  color: #fff;
  text-shadow: 0px -1px 0px #565656;
  border-right: 1px solid #686868;
  border-left: 1px solid #656565;
}

#main_tabs
{
  overflow: hidden;
  padding-bottom: 0px;
  margin: 10px 0px 8px 0px;
  background: url(~/application/themes/snowbot/images/menu_bg_light.png) #adadad repeat-x;
}
#main_tabs > li
{
  float: left;
}
#main_tabs > li > a
{
  padding: .7em 1em;
  display: block;
  color: #4C4C4C;
  font-size: .9em;
  text-shadow: 0px 1px 0px #E0E0E0;
}
#main_tabs > li.active
{
  border-right: 1px solid #575757;
  border-top: 1px solid #666;
}
#main_tabs > li.active > a
{
  background-color:#767676;
  color: #fff;
  text-shadow: 0px -1px 0px #565656;
  border-right: 1px solid #686868;
  border-left: 1px solid #656565;
}


.tab_pulldown_contents_wrapper
{
  display: none;
  overflow: hidden;
  position: absolute;
  padding: 4px;
  margin-top: 25px;
  margin-left: 10px;
  background-color: $theme_pulldown_border_color;
  z-index: 99;
  +shadow(2px,3px,4px,0px,rgba(1,1,1,.5));
}
.tab_pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.tab_pulldown_contents > ul > li
{
  padding: 5px;
  color: $theme_link_color;
  font-size: .9em;
  min-width: 100px;
  max-width: 250px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tab_pulldown_contents > ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.tab_pulldown_contents > ul > li:hover
{
  background: url(~/application/themes/snowbot/images/button_bg.png) $theme_button_background_color repeat-x;
  color: #fff;
  cursor: pointer;
}
.tabs_alt > ul > li.tab_open .tab_pulldown_contents_wrapper
{
  display: block;
}
.profile_friends_lists .pulldown_contents > ul > li:hover
{
  background: none;
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_joined:hover,
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover
{
  background: url(~/application/modules/User/externals/images/friends/list_joined.png) $theme_button_background_color;
  background-position:2px 4px;
  background-repeat:no-repeat;
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover
{
  background-image: url(~/application/modules/User/externals/images/friends/list_unjoined.png);
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_joined:hover > div,
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover > div
{
  color: #fff;
}


/*
PULLDOWN SELECT BOX
Styles the inline pulldown select popup box that is used
as an alternative to regular input select boxes in some places.
*/
.pulldown > a,
.pulldown_active > a
{
  display: inline-block;
  font-weight: bold;
  padding: 5px 7px 5px 18px;
  background-position: 6px 5px;
  outline: none;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url(~/application/modules/Core/externals/images/more.png);
  background-repeat: no-repeat;
}
.pulldown > a
{
  background-color: $theme_pulldown_background_color;
  text-decoration: none;
}
.pulldown > a:hover
{
  background-color: $theme_pulldown_background_color_hover;
}
.pulldown_active > a
{
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  text-decoration: none;
  background-image: url(~/application/modules/Core/externals/images/more_active.png);
}
.pulldown_contents_wrapper
{
  display: none;
  overflow: hidden;
  position: absolute;
  min-width: 100px;
  max-width: 300px;
  padding: 4px;
  background: url(~/application/themes/snowbot/images/pulldown_bg.png) #c3c3c3 repeat-x top;
  z-index: 99;
  margin-top: 22px;
}
.pulldown_active .pulldown_contents_wrapper
{
  display: block;
}
.pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.pulldown_contents ul > li
{
  padding: 5px;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.pulldown_contents ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.pulldown_contents ul > li:hover
{
  background: url(~/application/themes/snowbot/images/button_bg.png) $theme_button_background_color repeat-x;
  color: #ccc;
  cursor: pointer;
}
.pulldown_contents ul > li:hover a
{
  color: #fff;
}
pulldown_contents ul > li > a:hover
{
  text-decoration: underline;
}
.pulldown_options
{
  margin: 4px 0px 0px 0px;
  overflow: hidden;
}
.pulldown_options a
{
  color: #fff;
  font-size: .8em;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  border-left: 1px solid #4C5153;
  background: url(~/application/themes/snowbot/images/button_bg.png) #4e4e4e repeat-x top;
  display: block;
  float: left;
}
.pulldown_options a:first-child {
  border-left: none;
  border-right: 1px solid #8B8B8B;
}
.pulldown_options a:hover
{
  color: #fff;
  background: $theme_link_color;
}


/*
PULLDOWN SELECT BOX FOR UPDATES
Styles the inline pulldown select popup box used for updates that is used
as an alternative to regular input select boxes in some places.
*/

.updates_pulldown > a,
.updates_pulldown_active > a
{
  display: block;
  color: $theme_topbar_minimenu_link_color;
  font-weight: bold;
  line-height: 24px;
  padding: 0px 7px;
  /*font-size: .8em;*/
  /*text-transform: uppercase;*/
  vertical-align: top;
}
.updates_pulldown > a
{
  display: block;
  background: #ECECEC;
}
.updates_pulldown > a.new_updates
{
  background: url(~/application/themes/snowbot/images/button_bg.png) #4e4e4e repeat-x top;
  color: #fff;
}
.updates_pulldown > a.new_updates:hover
{
  background: $theme_link_color;
}
.updates_pulldown > a:hover
{
  background: $theme_link_color;
  text-decoration: $theme_topbar_minimenu_link_hover_decoration;
  color: #fff;
}
.updates_pulldown_active > a
{
  background: url(~/application/themes/snowbot/images/button_bg_pulldown.png) #a4a4a4 repeat-x top;
  color: $theme_pulldown_font_color_active;
  /*text-decoration: $theme_topbar_minimenu_link_hover_decoration;*/
}
.updates_pulldown_active .pulldown_contents_wrapper
{
  display: block;
  +shadow(2px,3px,4px,0px,rgba(1,1,1,.5));
}
ul.notifications_menu > li,
ul.notifications_menu > div
{
  padding: .5em;
  min-width: 160px;
}
ul.notifications_menu > li
{
  padding-top: 7px;
  padding-bottom:7px;
}
ul.notifications_menu > li + li
{
  border-top-width: 1px;
}
ul.notifications_menu > li.notifications_unread
{
  background-color: $theme_pulldown_contents_background_color_alt
}
.pulldown_contents > ul > li.notifications_unread:hover
{
  background-color: $theme_button_background_color;
}
.pulldown_contents > ul > li.notifications_unread:hover a:hover,
.pulldown_contents > ul > li:hover a:hover
{
  text-decoration: underline;
}
ul.notifications_menu > li > span
{
  padding-top: 2px;
  min-height: 16px;
  display: block;
  padding-left: 22px;
  background-repeat: no-repeat;
  float: none;
}
ul.notifications_menu > li > span > a
{
  display: inline;
  float: none;
}
ul.notifications_menu > li > span > a:hover
{
  color: #fff;
}






/*
MISC and OVERRIDES
*/
.layout_core_container_tabs > .generic_layout_container
{
  padding-top: 10px;
}
.layout_core_container_tabs > .generic_layout_container.layout_activity_feed {
  padding-top: 0px;
}
.layout_core_container_tabs > .generic_layout_container > ul > li{
  border-top:1px solid #EAF2ED;
  padding-top: 10px;
}

div.layout_core_container_tabs > div.generic_layout_container.layout_event_profile_events,
div.layout_core_container_tabs > div.generic_layout_container.layout_group_profile_groups,
div.layout_core_container_tabs > div.generic_layout_container.layout_music_profile_music,
div.layout_core_container_tabs > div.generic_layout_container.layout_video_profile_videos,
#event_photo,
div.layout_event_profile_photos,
div.layout_event_profile_members,
div.layout_event_profile_discussions,
ul.thumbs,
div.profile_fields,
ul.polls_browse,
ul.blogs_browse,
ul.classifieds_profile_tab,
ul.profile_friends,
#group_photo,
div.generic_layout_container.layout_group_profile_members,
div.generic_layout_container.layout_group_profile_photos,
div.generic_layout_container.layout_group_profile_discussions,
div.generic_layout_container.layout_group_profile_events,
#global_page_album-album-editphotos .layout_middle,
#global_page_album-photo-view .layout_middle

{
  padding: 12px;
}
div.generic_layout_container.layout_event_profile_rsvp,
div.generic_layout_container.layout_event_profile_info,
div#profile_options
{
  padding: 12px !important;
}
#event_stats > ul
{
  margin-bottom: 0px;
}
#global_page_user-profile-index div#profile_options, #event_stats > ul
{
  padding: 0px !important;
}
.profile_friends_status > a
{
  font-weight: normal;
}

.layout_user_list_signups,
.layout_user_list_popular
{
  width: auto;
}
.layout_user_list_popular ul,
.layout_user_list_signups ul,
.layout_user_list_signups > ul
{
  padding: 12px;
}
.layout_user_list_online > div
{
  padding: 10px;
}
.layout_user_list_signups > ul > li,
.layout_user_list_popular > ul > li
{
  padding:0px;
}
.layout_user_list_popular ul li + li,
.layout_user_list_signups ul li + li
{
  padding: 5px 0px 0px 0px;
}
.layout_user_home_photo > div
{
  padding: 12px
}
#compose-menu a.compose-activator
{
  padding-bottom: 5px;
}
button#compose-submit
{
  margin-right: 2px;
}
#compose-link-preview-options, #compose-link-preview-options-choose
{
  font-size: 1em;
}
#remember-wrapper
{
  margin-top:6px;
  margin-left: 4px;
}
#user_form_login
{
  padding: 12px;
}
#user_form_login.global_form_box #remember-wrapper label
{
  vertical-align: top;
  margin-top:1px;
}
.layout_user_login_or_signup #remember-wrapper input
{
  margin-top: 1px;
}
div#filter_form,
.filters,
form#filter_form div.form-elements
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  background-color: #fff;
  padding: 14px;
}
div#filter_form > div,
.filters > div,
form#filter_form div.form-elements > div,
.filters p,
.filters > dl > dt
{
  margin-top:7px;
}
div#filter_form > div:first-child,
.filters > div:first-child,
form#filter_form div.form-elements > div:first-child,
.filters > p:first-child,
.filters > dl > dt:first-child
{
  margin-top: 0px;
}
.quicklinks ul
{
  padding: 8px 12px;
}
.quicklinks li
{
  padding: 0px 0px 2px 0px;
}
.quicklinks li + li
{
  padding: 0px 0px 2px 0px;
}
.layout_right .quicklinks
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding-top:5px;
}
.browsemembers_criteria
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 12px;
}
#profile_options li
{
  padding: 0px 0px 2px 0px;
}
#profile_options > ul > li > a
{
  white-space: normal;
}
.layout_user_profile_info > h3,
.layout_user_profile_friends_common h3,
layout_group_profile_info
{
  font-size: 1em;
}
.layout_user_profile_info > ul,
.layout_user_profile_friends_common > ul,
.layout_group_profile_info > ul,
.layout_activity_list_requests > ul
{
  padding: 12px;
}
.layout_user_profile_info > ul > li,
.layout_group_profile_info > ul > li
{
  font-size: .9em;
}
.layout_activity_list_requests {
  margin-bottom:14px;
}
.layout_user_profile_friends_common, .layout_user_profile_info
{
  margin-top: 14px;
}
.messages_list
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
.browsemembers_criteria > ul > li
{
  font-size: .9em;
}
.browsemembers_results
{
  padding:12px;
}
.browsemembers_results h3
{
  padding-bottom:5px;
}
.browsemembers_results > ul > li
{
  padding: 10px 0px 10px 0px;
  margin: 0px;
  border-bottom:1px solid #EAF2ED;
}
ul.forum_categories > li > div
{
  background-color: transparent;
  padding-left: 0px;
}
.forum_categories > li > ul > li
{
  background-color: #F7F7F7;
  margin-bottom: 1px;
}
.forum_categories > li > ul > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topics > li
{
  background-color: #F7F7F7;
}
ul.forum_topics > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topic_posts
{
  border: none;
  margin-bottom: 2px;
}
ul.forum_topic_posts > li
{
  background-color: #F7F7F7;
}
ul.forum_topic_posts > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topic_posts > li + li
{
  border: none;
}
div.forum_topic_options
{
  background-color: $theme_foreground_background_color;
  padding-bottom: 2px;
  margin: 5px 0px 0px 0px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
div.forum_header_moderators {
  padding: 0px;
}
a.icon_forum_post_new
{
  margin-right: 15px;
}
#network-form > div
{
  border: 1px solid $theme_border_light_color;
}
#global_content > div.music_playlist
{
  background-color: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 14px;
}
#remember-element
{
  font-size: .8em;
}
.layout_left #user_form_login #password-label
{
  margin-top: 8px;
}
.browsemembers_criteria > ul > li > label
{
  font-size: .8em;
  margin-top: 4px;
}
.browsemembers_criteria > ul > li > input[type="checkbox"]
{
  margin-top: 2px;
}
.layout_core_statistics
{
  width: auto;
}
.layout_core_statistics ul
{
  padding: 12px;
}
.layout_core_statistics ul > li
{
  padding: 0px;
}
.layout_user_profile_photo,
.layout_user_profile_options
{
  padding: 12px !important;
}
#profile_status
{
  padding:12px 12px 0px 12px;
}
.feed_item_posted > a
{
  font-weight: normal;
}
#feed_viewmore
{
  border-top:1px solid $theme_border_light_color;
  margin: 0px 10px 10px 10px;
}
#music_profile_player
{
  width:auto !important;
}
.activity-comment-form
{
  padding-top: 10px;
}
/* Albums mods*/
ul.thumbs > li
{
  width: 160px;
  border-top: none !important;
}
.album_options
{
  padding-bottom: 10px;
}
ul.thumbs, ul.albums_manage
{
  margin: 0px;
}
li.album_thumb_notext {
  border-bottom: none !important;
}
.album-description, .photo-description {
  padding-bottom: 10px;
  font-weight: bold;
}
ul.albums_manage > li + li {
  margin-top: 0px;
}
ul.albums_manage > li
{
  padding-bottom: 10px;
}
ul.albums_manage > li, ul.albums_editphotos > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
/* Blogs, Classifieds mods */
.blogs_gutter, .classifieds_gutter
{
  background-color: $theme_foreground_background_color;
  padding: 14px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
ul.blogs_entrylist, ul.classifieds_entrylist
{
  border-top: 1px solid $theme_border_light_color;
}
ul.blogs_entrylist > li, ul.classifieds_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
ul.blogs_entrylist > li > h3
{
  font-size: 2em;
}
.blogs_browse_info_title
{
  padding-bottom: 5px;
  font-size: 1.2em;
}
ul.blogs_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
#global_page_blog-index-view .layout_middle > h2,
#global_page_classified-index-view .layout_middle > h2
{
  padding: 10px 10px 0px 10px;
}

/* Polls mods */
ul.polls_browse
{
  margin: 0px !important;
}
ul.polls_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
div.polls_view
{
  padding: 12px;
  margin-top: 0px;
}
div.poll_stats
{
  padding-bottom: 10px;
  border-bottom: 1px solid $theme_border_color;
}
ul.polls_browse > li + li
{
  padding-top: 10px;
}

/*Events and Group mods */
ul.events_browse > li, ul.groups_browse
{
  border-bottom: 1px solid $theme_border_light_color;
}
#global_page_event-topic-view #global_content > br
{
  display: none;
}
ul.event_discussions_thread > li
{
  border: none;
}
ul.event_discussions_thread > li + li, ul.group_discussions_thread > li + li
{
  margin-top: 2px;
}
ul.event_discussions_thread > li, ul.group_discussions_thread > li
{
  background-color: #F7F7F7;
  margin-top:2px;
  border: none;
}
ul.event_discussions_thread > li:nth-child(2n), ul.group_discussions_thread > li:nth-child(2n)
{
  background-color: $theme_foreground_background_color;
}
ul.event_discussions_thread .event_discussions_thread_body blockquote,
ul.group_discussions_thread .group_discussions_thread_body blockquote
{
  margin: 10px 0px 0px 0px;
  border-style: dashed;
}
ul.event_discussions_thread .event_discussions_thread_body blockquote + br,
ul.event_discussions_thread .event_discussions_thread_body blockquote + br
{
  display: none;
}
.event_discussions_thread_options, .group_discussions_thread_options
{
  margin: 5px 0px;
  background-color: $theme_foreground_background_color;
  padding: 8px 0px 4px 10px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
ul.event_discussions_thread, ul.group_discussions_thread
{
  margin-top: 0px;
}
div.event_discussions_thread_options .buttonlink, div.group_discussions_thread_options .buttonlink
{
  font-size: .9em;
}
ul.event_discussions_thread .event_discussions_thread_details,
ul.group_discussions_thread .group_discussions_thread_details
{
  padding-top:10px;
  border-color: $theme_border_light_color;
}
ul.event_discussions > li, ul.group_discussions > li
{
  background-color: #F7F7F7;
  margin-top: 2px;
}
ul.event_discussions > li:nth-child(2n),
ul.group_discussions > li:nth-child(2n)
{
  background-color: $theme_foreground_background_color;
}
ul.event_discussions .event_discussions_replies,
ul.group_discussions .group_discussions_replies
{
  background-color: transparent;
}
.event_discussions_options, .group_discussions_options
{
  background: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 8px 0px 4px 10px;
}
ul.events_browse .events_options a:first-child
{
  margin-top: 0px;
}
ul.events_browse > li + li, ul.groups_browse > li + li
{
  padding-top:10px;
}
ul.groups_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
.event_photos_list_options, .group_photos_list_options
{
  padding-bottom: 5px;
}
ul.event_thumbs, ul.group_thumbs
{
  margin-bottom: 0px;
}
#global_page_event-photo-list .layout_middle > br,
#global_page_group-photo-list .layout_middle > br
{
  display: none;
}
ul.event_thumbs > li, ul.group_thumbs > li
{
  border-top: none !important;
}


/* Video and Music mods */
ul.videos_manage > li + li
{
  border-top: 1px solid $theme_border_light_color;
  padding-top: 10px;
}
div.video_view
{
  margin-left: 20px;
}
div.video_view h3
{
  padding-top: 0px;
}
ul.videos_browse > li
{
  border-top: none !important;
}
ul.music_browse > li + li
{
  margin-top: 0px;
  padding-top: 12px;
}
ul.music_browse > li
{
  padding-bottom: 10px;
}
.browse_nextlast + ul.music_browse
{
  margin-top: 0px;
}
ul.music_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}

/* Messaging mods*/
#messages_compose #compose-menu .buttonlink
{
  padding-top: 4px;
}
.messages_list > ul > li, ul.message_view > li
{
  background-color: $theme_foreground_background_color;
}
ul.message_view > li
{
  padding: 10px;
}
ul.message_view > li + li
{
  margin-top: 2px;
}
/* .messages_list > ul > li:nth-child(2n), ul.message_view > li:nth-child(2n)
{
  background-color: #F7F7F7;
} */
.messages_list > ul > li + li
{
  border-bottom: none;
  margin-top: 2px;
}
li.message_quick_entry
{
  background-color: transparent !important;
}
li.message_quick_entry .message_view_leftwrapper
{
  display: none;
}

#global_page_user-settings-network .layout_middle
{
  padding: 12px;
}
.chat_container
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  margin: 0px 2px;
  margin-bottom:10px;
}

ul.thumbs .thumbs_photo > span
{
  width: 142px !important;
}

/* #global_page_messages-messages-compose #global_content_simple .form-label {width: 55px;}
body#global_page_user-friends-add #global_content_simple {display:block !important; padding:2%;}
body#global_page_user-friends-add #global_content_simple .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_user-friends-add #global_content_simple .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px; color:#fff !important;}

body#global_page_messages-messages-compose form#messages_compose > div > div {background: transparent none repeat scroll 0 0 !important; padding: 15px 10px !important; width: 100%;}
body#global_page_messages-messages-compose form#messages_compose .form-elements #to-wrapper #to-element .tag.tag_user {font-size: 16px; font-weight: bold;}
body#global_page_messages-messages-compose form#messages_compose .form-elements #title-wrapper #title-element{width:80%;}
body#global_page_messages-messages-compose form#messages_compose .form-elements #title-wrapper #title-element > input {background-color: #fafafa; border: 1px solid #dbdbdb; max-width: 100%;  padding: 6px; width: 95%;}
body#global_page_messages-messages-compose form#messages_compose .form-elements #compose-menu{display:none;}

body#global_page_messages-messages-compose form#messages_compose .form-elements #body-wrapper #body-element{display: block;
    max-width: 100%; width: 80%;}
	body#global_page_messages-messages-compose form#messages_compose .form-elements #body-wrapper #body-element textarea#body {    background-color: #fafafa;    border: 1px solid #dbdbdb;    padding: 5px;    width: 66%; max-width: 100%;}

body#global_page_messages-messages-compose form#messages_compose #submit-wrapper{margin-top:20px;}
body#global_page_messages-messages-compose form#messages_compose #submit-wrapper button#submit {background-color: #34aae8; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;} */

body#global_page_user-friends-cancelfriend .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_user-friends-cancelfriend .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}
body#global_page_user-friends-cancelfriend .form-elements #buttons-wrapper a#cancel{background-color:#ff0000; padding:8px 15px; color:#fff; border-radius:5px;}

body#global_page_user-friends-remove {display:block !important; padding:2%;}
body#global_page_user-friends-remove .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_user-friends-remove .form-elements .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}

body#global_page_user-friends-removefriend {display:block !important; padding:2%;}
body#global_page_user-friends-removefriend .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_user-friends-removefriend .form-elements .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}

body#global_page_classified-index-delete {display:block !important; padding:2%;}
body#global_page_classified-index-delete .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_classified-index-delete .form-elements .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}

body#global_page_messages-messages-delete {display:block !important; padding:2%;}

body#global_page_messages-messages-delete button{background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}
body#global_page_messages-messages-delete a{background-color:#ff0000; padding:8px 15px; color:#fff; border-radius:5px;}



body#global_page_user-friends-addfriend {display:block !important; padding:2%;}
body#global_page_user-friends-addfriend .form-elements #buttons-wrapper{margin-top:20px;}
body#global_page_user-friends-addfriend .form-elements .form-elements #buttons-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px;}








body#global_page_user-profile-review #global_content_simple .form-elements #review_msg-wrapper #review_msg-label{display:none;}
body#global_page_user-profile-review #global_content_simple .form-elements #submit-wrapper{margin-top:20px;}
body#global_page_user-profile-review #global_content_simple .form-elements #submit-wrapper button#submit {background-color: #34aae8 !important; background-image: none; border: 0 none; border-radius: 3px; padding: 8px 15px; color:#fff !important;}
	
	body#global_page_user-friends-add #global_content_simple .form-elements #buttons-wrapper a#cancel{background-color:#df0707; padding:8px 15px; color:#fff; border-radius:5px; min-width:80px;}
	
	body#global_page_classified-index-get-friends #global_content_simple {
    width: 92%;}
	body#global_page_classified-index-get-friends #global_content_simple form#share_form table {
    width: 100%;}
	
body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr {
    display: block;
    margin-top: 4px !important;}
	
	body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr td select {
    width: 100%;}
	body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr td input.share_project{background-color: #3faee8;border-radius: 5px !important;color: #fff; display: inline-block; padding: 5px 10px;}
	body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr td input.share_project:hover{background-color: #34a3dd;}
	
body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr td {
    width: 140px;}
	body#global_page_classified-index-get-friends #global_content_simple form#share_form table tbody tr td label {
    display: inline-block;
    width: 82%;}
	

body#global_page_communityad-index-create, body#global_page_communityad-index-edit #birthdate-min, body#global_page_communityad-index-edit select#birthdate-min{
    width: 10% !important;
    height: 27px;
}
#global_page_communityad-index-edit select#birthdate-max{
    margin-left: 20% !important;
    width: 10% !important;
        height: 27px;
}
#global_page_communityad-index-edit .global_form #gender-wrapper select{
    width: 10% !important;
    height: 27px;
}
#global_page_communityad-index-create #global_wrapper #global_content, #global_page_communityad-index-create #global_footer, #global_page_communityad-index-create .copyright_footer_bottom{
    width: 1270px !important;
}
select[name="birthdate[min]"]{
   width: 10%;
}
#birthdate-max {
    margin-left: 20% !important;
    width: 10% !important;
}
select[name="gender"]{
  max-width: 10% !important;
}