    	<?php if($this->skills){$i=0;
        foreach($this->skills as $skill){
            echo "<p class='skill_edit' id='".$skill['skill_id']."'>
            <span class='skill_set'>
            <span class='skill bg_none'>".$skill['skill_title']."</span>";?>
             
            <?php echo "</span></p>";
        	$i++;
        }
    } 
	if($i==0){ ?>
    	No skills added yet.
    <?php } ?>
    <a href="<?php echo $this->baseUrl().'/members/edit/skills';?>" class="fancybox  fancybox.ajax profieladdSkills">&nbsp;</a>
