<?php if($this->skills){$i=0;
        foreach($this->skills as $skill){
           echo "<p class='skill_edit' id='".$skill['skill_id']."'>
           <span class='skill_set'>
           <span class='skill bg_none'>".$skill['skill_title']."</span>
           <a href='javascript:void(0);' class='add_skill add_bg'>edit</a>
           </span>
           </p>";
        }
 }
?>
<a href="javascript:void(0);" class="add_skill">Add Skills</a>