    	<?php if($this->skills){
        foreach($this->skills as $skill){
            echo "<p class='skill_edit' id='".$skill['skill_id']."'><span class='skill_set'>
            <span class='skill bg_none'>".$skill['skill_title']."</span><span class='remove_temp_skill'>X</span></span></p>";
        	$i++;
        }
    } ?>
