<div id="global_content_simple">
<li class="skip-bt"> <a href="<?php echo $this->baseUrl().'/experience';?>" target="_parent">Save & Continue</a></li>
<span style="line-height: 52px; padding: 3px; font-family:'Source Sans Pro', sans-serif !important; font-weight:bold; display:block; text-align:center;">OR</span>
<li class="skip-bt"><a href="<?php echo $this->baseUrl().'/members/home';?>" target="_parent">Save & Go to Social page <br> and start growing your connections.<br> Do remember to come back and<br> update your profile later.</a></li>

</div>
<style>
 
	
li.skip-bt { list-style:none; padding:0; margin:0; text-align:center;}	
li.skip-bt a {background-color: #2ab9b7 !important;
    border: 0 none;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 17px !important;
    font-weight: bold !important;
	text-decoration:none;
    padding: 8px 12px !important; font-family:'Source Sans Pro', sans-serif !important; display:block;    line-height: 23px !important;
    letter-spacing: 0.7px;}	
	
	
body#global_page_user-edit-profile .fancybox-wrap {
    width:auto !important;
	
}
</style>