<?php
/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Classified
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: create.tpl 10110 2013-10-31 02:04:11Z andres $
 * @author     Jung
 */
?>

<script type="text/javascript" src="<?php echo $this->baseUrl().'/public/js/jquery.min.js'?>"></script>

  <script type="text/javascript">
  var jQuery	=	$.noConflict();
  </script>

 

 <link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://rawgithub.com/hayageek/jquery-upload-file/master/js/jquery.uploadfile.min.js"></script>


 

<div class="headline">
  <h2>Apply for Job
  </h2>
 
</div>
<div class="job_apply_pp" style="min-height:60px; height:196px;">
<div id="mulitplefileuploader">Upload</div>

<div id="job_apply_status"></div>
</div>

 <script>
 
 
 

 function save_files(obj)
  {
	   
		  var ajax_url = '<?php echo $this->baseUrl();?>/classifieds/application/applysave';
 		  var classified_id = jQuery('#classified_id').val();
		  var viewer_id = jQuery('#viewer_id').val();
		  var file_name = jQuery('#file_name').val();
  		  jQuery.ajax({
				url: ajax_url,
				type: 'POST',
				data: { classified_id: classified_id, viewer_id: viewer_id, file_name: file_name },
				async: false,
				success: function(s){
 					var msg= s.split("::");
					if(jQuery.trim(msg[0]) == 'success')
					{
						alert(msg[1]);
						
 						parent.location.reload()
					  
					}
					else
					{
						jQuery("#signinerror").html(msg[1]);
					}
					
				}
			});
	   
  
  }
  
function remove_file(obj)
{
  	 var data_id = jQuery(obj).attr("id");
 	 jQuery(this).closest('.ajax-file-upload-statusbar').remove();
	return false;
}

 

jQuery(document).ready(function()
{
 var data='';
 var settings = {
	url: "<?php echo $this->baseUrl();?>/classifieds/application/apply",
	method: "POST",
	allowedTypes:"mp3,mp4",
	fileName: "myfile",
	multiple: true,
	onSuccess:function(files,data,xhr)
	{
		var string=jQuery('#file_name').val();
  		jQuery("#file_name").val(data);
		if(string!="")
		{

		jQuery("#job_apply_status").html("<font color='green'>File uploaded successfully</font>");
 		/*jQuery( '<div style="display: block;" class="ajax-file-upload-completed"><a id="'+data+'" onclick="remove_file(this)">Delete</div></div>' ).insertAfter( ".ajax-file-upload-filename" );
		jQuery("div.ajax-file-upload-statusbar").each(function(){
    	jQuery(".ajax-file-upload-completed:not(:first)", this).hide();
});	*/
 		var res = "".concat(string,"||",data);
		jQuery("#file_name").val(res);
		}
		else
		{
			jQuery("#file_name").val();	
			jQuery("#job_apply_status").html("<font color='green'>File uploaded successfully</font>");
 		/*jQuery( '<div style="display: block;" class="ajax-file-upload-completed"><a id="'+data+'" onclick="remove_file(this)">Delete</div></div>' ).insertAfter( ".ajax-file-upload-filename" );
		jQuery("div.ajax-file-upload-statusbar").each(function(){
    	jQuery(".ajax-file-upload-completed:not(:first)", this).hide();
});*/
		}
 		
		
		
	},
	onError: function(files,status,errMsg)
	{		
		jQuery("#job_apply_status").html("<font color='red'>Upload is Failed</font>");
	}
}
jQuery("#mulitplefileuploader").uploadFile(settings);

});
</script>
	
	
<form name="share_form" id="share_form" action="<?php echo $this->baseUrl();?>/classifieds/application/applysave" method="post">
<input type="hidden" name="classified_id" value="<?php echo $this->classified_id;?>" id="classified_id" />
<input type="hidden" name="viewer_id" value="<?php echo $this->viewer_id;?>" id="viewer_id" />
<input type="hidden" name="file_name" value="" id="file_name" />
<input type="button" onClick="save_files(this)"   name="share" value="Apply" class="share_project submit_job"/>

</form>	

	

 
 <style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;

        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
	.tag {
    display: block;
	}
</style>

