<?php
/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Classified
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: create.tpl 10110 2013-10-31 02:04:11Z andres $
 * @author     Jung
 */
?>

 

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/js/jquery.min.js"></script>

 

 
 


<table cellpadding="10" cellspacing="10">

 <tr>
 
 
 <td colspan="2">
 <video  width="640" height="360" controls >
	<source src="<?php echo $this->baseUrl();?>/public/classified/portfolio/<?php echo $this->video;?>" type="video/mp4">
	</video>
 </td>
 </tr>
  
</table>
</form>
	
	
	

	

 
 <style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
	.tag 
	{
	display: block;
	}
	.proj_delete 
	{
	background-color:#D00000;
	border-radius:5px !important;
	color:#FFFFFF;
	display:inline-block;
	padding:5px 10px;
	}

a:hover 
{ 
   text-decoration:none;
}
</style>

