<?php 
$this->headScript()
    ->appendFile($this->layout()->staticBaseUrl . 'externals/jquery/jquery-1.10.2.js');
$this->headScript()
    ->appendFile($this->layout()->staticBaseUrl . 'externals/jquery/jquery-ui.min.js');
 $this->headLink()
    ->appendStylesheet($this->layout()->staticBaseUrl . 'externals/custom/custom.css');
?>
<style>
th{width:200px;}
</style>
<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    Core
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: create.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>

<?php  $app = $this->classified_id; 

//echo '<pre>';print_r($app);echo '</pre>';
?>
 
 <table>
 	<tr>
		<td>
			
		</td>
		<!--<td>
			<?php 
			echo $val->user_id;echo $val->classified_id;
			?>
		</td>-->
		<td>
			<?php $viewer = Engine_Api::_()->user()->getUser($this->user_id); ?>
		</td>
		
		<td>
			<?php
				$fields = Engine_Api::_()->fields()->getFieldsValuesByAlias($viewer);
				
						echo '</pre>';print_r($fields);
				
				$fields = $fields['profile_type'];
				$fieldsByAlias = Engine_Api::_()->fields()->getFieldsObjectsByAlias($viewer);
				
				
				$calendar = new User_Model_DbTable_Users(); 

				$query = $calendar->getUserCategoryForListing($this->user_id,'38');
    
				
				$listedas = '';
				//echo '<pre>';print_r($query);
				foreach($query as $k=>$v){				
					$optionObjVal = Engine_Api::_()->fields()
					   ->getFieldsOptions($viewer)
					  ->getRowMatching('option_id', $v['value']);
					 
					$listedas .= $optionObjVal->label.",";
				}
				
				$listedas = rtrim($listedas,",");
				
				echo $listedas;
			?>

		</td>
		<td>
			<?php	
				
				$optionId = $fieldsByAlias['profile_type']->getValue($viewer);
				
				$optionObj = Engine_Api::_()->fields()
					  ->getFieldsOptions($viewer)
					  ->getRowMatching('option_id', $optionId->value);
				
				echo $optionObj->label;
			?>
		</td>
		<td>
			<?php	  
				echo "<div val = '".$this->classified_id."' id = 'app_accept'>Accept</div>";
				echo "<div val = '".$this->classified_id."' id = 'app_reject'>Reject</div>";
				echo "<div val = '".$this->classified_id."' id = 'app_hold'>Hold</div>";
			?>
		</td>
	<tr>



 
 </table>
 <ul class="classifieds_browse">
 <li>
 <div class='classifieds_browse_info'>
			<div class='classifieds_browse_photo'>
				<?php
					
					echo $this->itemPhoto(Engine_Api::_()->user()->getUser($this->user_id),'thumb.profile');
				?>
			</div>
            <div class='classifieds_browse_info_title'>
              <h3>
                <?php 
					$user = Engine_Api::_()->getItem('user', $this->user_id);
					print_r($user);
					echo $user->displayname;
					?>
					<?php
				$fields = Engine_Api::_()->fields()->getFieldsValuesByAlias($viewer);
				
				$fields = $fields['profile_type'];
				$fieldsByAlias = Engine_Api::_()->fields()->getFieldsObjectsByAlias($viewer);
				
				
				$calendar = new User_Model_DbTable_Users(); 

				$query = $calendar->getUserCategoryForListing($this->user_id,'38');
    
				
				$listedas = '';
				//echo '<pre>';print_r($query);
				foreach($query as $k=>$v){				
					$optionObjVal = Engine_Api::_()->fields()
					   ->getFieldsOptions($viewer)
					  ->getRowMatching('option_id', $v['value']);
					 
					$listedas .= $optionObjVal->label.",";
				}
				
				$listedas = rtrim($listedas,",");
				
				echo $listedas;
			?>
              </h3>
            </div>
            <div class='classifieds_browse_info_date'>
              <?php echo $fields['gender']->value; ?>
            </div>
			<div class='classifieds_browse_info_category'>
              <?php echo $fields['gender']->value; ?>
            </div>
			<div class='classifieds_browse_info_location'>
              <?php echo $fields['gender']->value; ?>
            </div>
          </div>
	</li>
</ul>
 
<script type="application/javascript">
	$(document).on('click', '#app_accept',function(){
		var classified_id = $(this).attr('val');
		formURL = "classifieds/application/accept/classified_id/" + classified_id;
			$.ajax({
					url: formURL,
					type: "POST",
					data: "cid=" + classified_id,
					dataType: 'json',
					success: function(resp) {
							alert(resp);
							}
					
			})
	});

	$(document).on('click', '#app_reject',function(){
		var classified_id = $(this).attr('val');
		formURL = "classifieds/application/reject/classified_id/" + classified_id;
			$.ajax({
					url: formURL,
					type: "POST",
					dataType: 'json',
					success: function(resp) {
							alert(resp);
							}
					
			})
	});

	$(document).on('click', '#app_hold',function(){
		var classified_id = $(this).attr('val');
		formURL = "classifieds/application/hold/classified_id/" + classified_id;
			$.ajax({
					url: formURL,
					type: "POST",
					dataType: 'json',
					success: function(resp) {
							alert(resp);
							}
					
			})
	});
</script>