<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>

<?php $pic=Engine_Api::_()->getDbtable('users', 'user')->getUserProfilePicPath($this->viewer()->getIdentity());
if($pic == '')$pic	=	$this->baseUrl().'/application/modules/User/externals/images/nophoto_user_thumb_profile.png';
 //echo $pic;
 ?>
<?php //echo $this->htmlLink($this->viewer()->getHref(), $this->itemPhoto($this->viewer(), 'thumb.profile')) ?>

<a href="<?php echo $this->viewer()->getHref();?>">
<span id='wall_profilephoto'  class="wall_background set_profile">
<?php echo $this->itemPhoto($this->viewer(), 'thumb.profile');?>
</span></a>
 <!--<a href="<?php echo $this->viewer()->getHref();?>"><span id='wall_profilephoto' style="background-image:url(<?php echo $pic ?>);" class="wall_background set_profile"></span></a>-->
 <div class="inner_comdata"> 
<p><a href="<?php echo $this->viewer()->getHref();?>" >
<?php //echo $this->viewer()->getTitle();?>
<?php if($this->fieldStructure['First Name'] == '' && $this->fieldStructure['Last Name'] ==''){ 		           echo ucwords(strtolower($this->viewer()->getTitle()));  
     }else{
          echo ucwords(strtolower($this->fieldStructure['First Name']).' '.ucwords($this->fieldStructure['Middle Name']).' '.ucwords($this->fieldStructure['Last Name']));
   } ?>
</a></p>
<p class="pp_vwd">People viewed your profile <span class="pp_vwd_value">
<a href="<?php echo $this->baseUrl().'/members/viewed';?>" class="fancybox  fancybox.ajax">

<?php echo ($this->view_count > 99)? '99+':$this->view_count;?></a> 
</span></p>
<p  class="pp_connects"  style="display:none;">Connect with more people. Grow your network.</p>
<!--  <p class="go_pp" style="margin-top: 6px ! important;">
  <a class="timeline_view" href="<?php echo $this->baseUrl().'/profile/'.$this->viewer()->getIdentity();?>">Profile
 </a>
  </p> -->
  <p class="pp_vwd" style="margin-top: 6px ! important;">
    Crezilla Code : <?php echo ($this->clientcode)? $this->clientcode:'';?> 
  </p>
</div>

 



<!--<span>
  <a class="wall_edit_profile_icon" href="<?php echo $this->baseUrl().'/members/edit/profile';?>">
 </a>
  </span>-->
 

<!--<?php echo $this->htmlLink($this->viewer()->getHref(), $this->itemPhoto($this->viewer(), 'thumb.profile'));
 ?>
<h3>
  <?php echo '<a href="'.$this->viewer()->getHref().'" style="float:right;"> '.$this->viewer()->getTitle().'</a>';
  ?>
  </h3><span>
  <a class="wall_edit_profile_icon" href="<?php echo $this->baseUrl().'/members/edit/profile';?>">
 </a>
  </span>
-->
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl();?>/public/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript">
jQuery(document).ready(function()
{
 jQuery('.fancybox').fancybox();
});
</script>


