<?php
/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Classified
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: delete.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     Jung
 */
?>

  <form method="post" class="global_form_popup">
    <div>
      <h3><?php echo $this->translate("Delete Skill?") ?></h3>
      <p>
        <?php echo 'Are you sure that you want to delete this skill? It will not be recoverable after being deleted.'; ?>
      </p>
      <br />
      <p>
        <input type="hidden" name="confirm" value="<?php echo $this->skill_id?>"/>
        <button type='submit'><?php echo $this->translate("Delete") ?></button>
        
      </p>
    </div>
  </form>

<?php if( @$this->closeSmoothbox ): ?>
<script type="text/javascript">
  TB_close();
</script>
<?php endif; ?>
