<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/js/jquery.min.js"></script>
<script type="text/javascript">
$$('.custom_951').getParent().addClass('active');
   
  function upload_file(obj)
  {
 	   jQuery(".com_form_error_validatin").removeClass("com_form_error_validatin");
	   jQuery(".pdf_error").hide();
	   var title = jQuery.trim(jQuery('#title').val());
	   
	   var fileName = jQuery('#pdf_file').val();
	   fileName = fileName.replace(/.*[\/\\]/, '');
 	   var result = fileName.split('.');
 	   if(title=='')
	   {
		   jQuery(".pdf_error").show();
			jQuery(".pdf_error").html('Enter file title.');
		   //alert("Please fill all fields");
		   return false;
	   }else if(fileName=='' )
	   {
		   jQuery(".pdf_error").show();
		   jQuery(".pdf_error").html('Please upload pdf.');
		   return false;
	   }   
	   else
	   {
		   if(result[1]!='pdf')
		   {
			   jQuery(".pdf_error").show();
			   jQuery(".pdf_error").html('Please upload only pdf file.');
			   //alert("Please upload only pdf file.");
			   return false;
		   }
		   else
		   {
  			jQuery( "#share_form" ).submit();
		   }
	   }
 	   
		  /*var ajax_url = '<?php echo $this->baseUrl()."/delete-pdf-file/deletepdffile/".$this->page_id."";?>';
 		  var pdf_id = jQuery('#pdf_id').val();
		  var data_id = jQuery(obj).attr("data_id");
 		  jQuery.ajax({
				url: ajax_url,
				type: 'POST',
				data: { pdf_id: pdf_id},
				async: false,
				success: function(s){
 					var msg= s.split("::");
					if(s!='')
					{
						alert("File deleted successfully");
 						parent.location.reload();
					  
					}
					else
					{
						jQuery("#signinerror").html(msg[1]);
					}
					
				}
			});*/
	   
  
  }
  
  
  function reload_parent()
  {
 		parent.Smoothbox.close();
  }
  


</script>
<style>
button#submit11 {
  background-color:#fb933c;
  border:0 none;
  padding:10px 40px !important;
}
</style>
<span id="global_content_simple" style="padding-left:2%;">
    

<form name="share_form" id="share_form" enctype="multipart/form-data" action="<?php echo $this->baseUrl();?>/upload-pdf-file/createpdf" method="post">
 <div>&nbsp;</div>
<div><div><h3>Upload Pdf </h3>
<span style="color: rgb(255, 0, 0); display:none;" class="pdf_error"></span>
<div class="form-elements">
<div class="form-wrapper" id="buttons-wrapper"><div class="form-label" id="buttons-label">&nbsp;</div><div class="form-element" id="buttons-element"><div id="buttons-wrapper" class="form-wrapper"><fieldset id="fieldset-buttons">
<div>
<span>Title :</span> <input type="text" name="title" id="title"    autocomplete="off" style="width:75%;" class="upload-pdf-input">
</div>
<div>&nbsp;</div>
<div>
<span>File :</span> <input type="file" name="pdf_file" id="pdf_file" value=""  autocomplete="off" style="width:75%;">
</div>
<div>&nbsp;</div>
<div>
<button type="button" onClick="upload_file(this)" id="submit11" name="submit11">Upload</button>
<a style="padding: 10px 25px; margin-right: 10px;" onclick="reload_parent();" href="javascript:void(0);" type="button" id="cancel" name="cancel">cancel</a></fieldset></div></div></div></div></div></div> </form>  </span>