<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/js/jquery.min.js"></script>
<script type="text/javascript">

 function remove_parent(obj)
  {
	   
		  var ajax_url = '<?php echo $this->baseUrl()."/delete-pdf-file/deletepdffile/".$this->page_id."";?>';
 		  var pdf_id = jQuery('#pdf_id').val();
		  var data_id = jQuery(obj).attr("data_id");
 		  jQuery.ajax({
				url: ajax_url,
				type: 'POST',
				data: { pdf_id: pdf_id},
				async: false,
				success: function(s){
 					var msg= s.split("::");
					if(s!='')
					{
						alert("File deleted successfully");
 						parent.location.reload();
					  
					}
					else
					{
						jQuery("#signinerror").html(msg[1]);
					}
					
				}
			});
	   
  
  }
  
  
  function reload_parent()
  {
 		 parent.Smoothbox.close();
  }
  


</script>

<span id="global_content_simple">
    

<form name="share_form" id="share_form" action="<?php echo $this->baseUrl().'/delete-pdf/deletepdf/';?>" method="post">
<input type="hidden" name="pdf_id" id="pdf_id" value="<?php echo $this->pdf_id; ?>" />

<div><div><h3>Delete Pdf</h3>
<p class="form-description">Are you sure you want to delete pdf file?  </p>
<div class="form-elements">
<div class="form-wrapper" id="buttons-wrapper"><div class="form-label" id="buttons-label">&nbsp;</div><div class="form-element" id="buttons-element"><div id="buttons-wrapper" class="form-wrapper"><fieldset id="fieldset-buttons">

<button type="submit" id="submit" name="submit" style="padding: 10px 45px !important;" >Delete</button>
<a  style="padding: 10px 25px;"onclick="reload_parent();" href="javascript:void(0);" type="button" id="cancel" name="cancel">cancel</a></fieldset></div></div></div></div></div></div></form>  </span>