 
 <?php if($this->jobs){ $tj=count($this->jobs);
    	//echo '<pre>'; print_r($this->jobs); echo '</pre>';
        $i=1;
    	foreach($this->jobs as $job){
        $data  = Engine_Api::_()->getDbtable('classifieds', 'classified')->getClassifiedDataById($job['classified_id']);
        $applyby= Engine_Api::_()->getDbtable('classifieds', 'classified')->getClassifiedsapplyBy($job['classified_id']);
                    // echo '<pre>'; print_r($data);die();
                     foreach($data as $res){
                  
                    if($res['field_id'] == 61){
                      $desig=$res['values'];
                    }
                    if($res['field_id'] == 74){
                      $expe1=$res['values'];
                      if($expe1=='')
                      {
                        $expe="0";
                      }
                      else
                      {
                        $expe= $expe1;
                      }
                    }
                    if($res['field_id'] == 73){                    
                      $lang=$res['values'];
                    }
                
                    if($res['field_id'] == 75){
                      $keyw=$res['values'];
                    }

                    if($res['field_id'] == 41){
                      $dura=$res['values'];
                    }
                    
                    if($res['field_id'] == 71){
                      $pay_term=$res['values'];
                    }
                                 
                    if($res['field_id'] == 14){
                      $work_loc=$res['values'];
                    }

                    if($res['field_id'] == 72){
                      $out_app=$res['values'];
                      if($out_app=='Yes')
                      {
                        $out_app="may";
                      }
                      else
                      {
                        $out_app= "need not";
                      }
                    }
                                                          
                }
                $jobownerpic =   '';
                        $classified = Engine_Api::_()->getItem('classified', $job['classified_id']);
                        if($job['page_id'] != 0){
                            $companypage    =   Engine_Api::_()->getItem('page', $job['page_id']);
                            $ownername=$companypage['displayname'];
                            $jobownerpic =Engine_Api::_()->getDbtable('users', 'user')->getUserJobDesigPicPath($desig);
                            $link   =   $companypage->getHref();
                            $jobownerpic  = ($jobownerpic=='')?'application/modules/User/externals/images/nophoto_user_thumb_profile.png':$jobownerpic;
                            $isApply  = Engine_Api::_()->getDbtable('applys', 'classified')
            ->isAlreadyApplied($job['classified_id'], $this->userid);
                        }else{
                           $user = Engine_Api::_()->getItem('user', $job['owner_id']);
                           $ownername=$user['displayname'];
                           $link =  $user->getHref();
                           $jobownerpic =Engine_Api::_()->getDbtable('users', 'user')->getUserJobDesigPicPath($desig); 
                           $jobownerpic =   ($jobownerpic=='')?'application/modules/User/externals/images/nophoto_user_thumb_profile.png':$jobownerpic;
                           $isApply  = Engine_Api::_()->getDbtable('applys', 'classified')
            ->isAlreadyApplied($job['classified_id'], $this->userid);
                        }
            ?>
            <li>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 _job_results_list_item">
            <div class="_job_list_item_block">
              <div class="_item_block_head">
                <div class="_createdby left">by <span class="_createdby_name"><?php echo $ownername; ?>,</span> <span class="_dated"><?php //echo $this->timestamp($classified['creation_date']);
                echo date('d F Y',strtotime($classified['creation_date'])); ?></span></div>
                <div class="viewedby right"><i class="fa fa-eye" aria-hidden="true"></i> <?php echo $classified['view_count'];?></div> 
              </div>
              <div class="_item_block_content">
                <div class="_job_item_img"><img src="<?php echo $jobownerpic;?>"></div>
                <div class="_job_item_content">
                  <div class="_job_title"><a href="<?php echo $classified->getHref();?>" title=""><?php echo $job['title']; ?></a></div>
                  <div class="_job_details">
                    <span class="_job_exp"><i class="fa fa-briefcase" aria-hidden="true"></i> <?php echo $expe ?></span>
                    <span class="_job_loc"><i class="fa fa-map-marker" aria-hidden="true"></i> <?php echo $work_loc ?></span>
                  </div>
                  <div class="_job_desc">
                    <div class="_job_desc_title">Job Description</div>
                    <b><?php echo $desig ?></b> wanted, with <b><?php echo $expe ?></b> of experience, fluent in <b><?php echo $lang ?></b> for a <b><?php echo $dura ?></b> assignment. Payment terms will be on a <b><?php echo $pay_term ?></b> basis. This position is primarily based in <b><?php echo $work_loc ?></b>.  Outstation candidates <b><?php echo $out_app ?></b> apply.</p>
                  </div>
                  <?php if($applyby){?>
                  <div class="_job_desc">
                    <div class="_job_desc_title">Apply By: <span class="_applydate"><?php echo date('d F Y',strtotime($applyby)) ?></span></div>
                    
                  </div>
                  <?php }?>
                </div>
              </div>
                    <div class="container">
              <div class="_item_block_footer">
                <?php if( $this->userid == $job['owner_id']) {?>
            <a class="add_directory" title="Can't Apply"><i class="fa fa-ban"></i></a>
           <?php } else { if ($isApply) { ?>
                <a id="unapply_<?php echo $job['classified_id'];?>" class="smooth_box add_directory" title="Un Apply" data-index="<?php echo $job['classified_id'];?>"><i class="fa fa-remove"></i></a>
                <?php } else {?>
                <a id="apply_<?php echo $job['classified_id'];?>"  class="smooth_box add_directory" title="Apply" data-index="<?php echo $job['classified_id'];?>"><i class="fa fa-check-square"></i></a>
                <?php }} ?>
                <a data-toggle="modal" data-target="#myModal_<?php echo $job['classified_id'];?>"><i class="fa fa-share-alt" aria-hidden="true" class="_shared_list_item"></i></a>  
          </div>
                
  <!-- Trigger the modal with a button -->
   <!-- Modal -->
  <div class="modal fade" id="myModal_<?php echo $job['classified_id'];?>" role="dialog">
    <div class="modal-dialog modal-sm" >
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h3>Share</h3>
          <p class="form-description">Share this by re-posting it with your own message.</p>
        </div>
        <div class="modal-body">
          <div class="form-elements">
                  <div id="body-wrapper" class="form-wrapper">
                  <div id="body-label" class="form-label">&nbsp;</div>
                  <div id="body-element" class="form-element">
                  <textarea name="body" id="share_textarea" cols="40" rows="6" maxlength="300"></textarea>
                  </div>
                  </div>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="jobshare_<?php echo $job['classified_id'];?>" value="<?php echo $job['classified_id'];?>" data-dismiss="modal">Share</button>
          Or <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        <div class="modal-footer_des">
          <div class="sharebox_title">
              <?php echo $job['title']; ?>
            </div>
            <div class="sharebox_description">
              <?php echo $job['body']; ?>
            </div>
        </div>
      </div>
      
    </div>
  </div>
  
              </div>               
            </div>            
          </div>
          
        
              </li>
        <?php $i++;} if($i==1){
        	echo '<li>No Jobs Found.</li>';
        }
      }?>
<?php 
echo '**';
$page	=	$this->page;
echo $page+20;
?>

